[2018-10-22 14:19] brendt opened #2 "Add generic collection support"
The following syntax must be supported:

[code]

When setting this property, we must validate two things:

- The value is an array.
- This array only contains values of type `T`.

The implementation will be in `Property::assertTypeEquals`. I expect a new check to be added which detects the array syntax `[]` and will recursively validate every element in it. `assertTypeEquals` should be reused.

`n

[2018-10-22 14:23] brendt opened #3 "Make array helper functions immutable"

[2018-10-23 06:44] brendt opened #5 "Remove `Arr` support"
Because this package originated in a Laravel project, `Arr` is used to filter arrays. We should refactor this to built in PHP functions and remove this hard-coded dependency.

[2018-10-23 06:48] #5 closed

[2018-10-23 06:53] brendt commented on #3
Done.

[2018-10-23 06:53] #3 closed

[2018-10-23 07:47] brendt commented on #2
Another thing coming to mind: the more we can parse at construction time, the better. So feel free to add functionality in `Property::resolveTypeDefinition`.

[2018-10-23 07:50] brendt opened #7 "Parse `ValueObject::all` beforehand"
Instead of calculating all the values in the `all` method, we can use the existing construction functionality: https://github.com/spatie/value-object/blob/master/src/ValueObject.php#L20 to reduce overhead.

I believe it's as simple as keeping track of the values after they are set: https://github.com/spatie/value-object/blob/master/src/ValueObject.php#L25. Remember that some values may be omitted

[2018-10-23 07:55] brendt opened #8 "Uninitialized support"
Uninitialized values are now set to `null`: https://github.com/spatie/value-object/blob/master/src/ValueObject.php#L23

To be more in line with the type system that PHP 7.4 brings, we should add another state to the property, so that there's a difference between `null` and `uninitialized`.

It should be something like this:

[code]

Small remark: `ValueObjectException::uninitialisedProperty` may b

[2018-10-23 07:59] brendt opened #9 "Better exception support"
Right now, `ValueObjectException` extends `\Exception`.

It would be good to extend `\TypeError` instead, this allows the package to be more in line with the upcoming 7.4 type system.

Also, we should pass the property itself instead of its name and class. For example:

[code]

Becomes

[code]

Of course, the needed helper methods may be added on `Property`.

[2018-10-23 08:02] brendt opened #10 "Optimise `unknownPublicProperty` check"
Now in `ValueObject::__construct`, there are two separate loops, one for setting values and one for checking whether no extra, unknown data was passed.

It would be better to reduce this to one loop. We should keep track of which user values were successfully set, and which there's no property for.

This could be an implementation, though I'm open for better suggestions:

[code]

[2018-10-23 09:57] belushkin commented on #9
let me check it

[2018-10-23 10:29] brendt commented on #9
Sorry, already did it!

[2018-10-23 10:30] #9 closed

[2018-10-23 10:30] brendt commented on #7
Doing this one myself.

[2018-10-23 10:31] brendt commented on #10
Also doing this one myself.

[2018-10-23 10:37] #10 closed

[2018-10-23 10:38] brendt opened #12 "Readonly support"
I'm not sure how we'd go about this one. But properties on value objects should be read only. I don't think `__set` is of any help, as this are public properties..

[2018-10-23 10:43] #7 closed

[2018-10-23 12:58] brendt opened #13 "Support non-FQCNs in phpdocs"
Right now, you need to write the whole classname in the `@var` type declaration:

[code]

Imported namespaces should also be supported.

[2018-10-23 16:14] skyrpex commented on #12
Using protected members will allow `__get` and `__set` to work, but disable autocompletion for me (since they aren't accessible).

Another idea is to use protected members along with getter methods 🤷‍♂️.

[2018-10-23 16:20] skyrpex commented on #12
Maybe the ValueObject could parse the public getters? It could work with just this:

[code]

[2018-10-24 07:05] brendt commented on #12
Autocompletion and simple syntax is a requirement though. If the syntax becomes more verbose, I don't think the package is as useful anymore..

[2018-10-24 09:59] skyrpex commented on #12
Yeah, I totally agree. The syntax is more verbose but the package would rely on the standard reflexion class (which is more maintainable) and it's still better than just creating the ValueObjects manually.

[2018-10-24 11:01] #2 closed

[2018-10-24 11:59] brendt opened #15 "Collection helpers"
We'd like `ValueObjectCollection` to have some helper functions like Laravel collections. The best scenario would be to be able to use `Collection`, though it doesn't implement `Iterator`, but instead `IteratorAggregate`. This breaks the autocompletion in IDEs. Maybe we can work around this be manually implementing `Iterator` in `ValueObjectCollection` and simultaneously extending `Collection`. So

[2018-10-24 14:21] brendt commented on #15
We did some investigating, it won't be possible to integrate Laravel's collection helpers without loosing auto completion on collections. My advice is that if you want to use Laravel collections, to wrap your value objects in them, instead of a `ValueObjectCollection`.

[2018-10-24 14:21] #15 closed

[2018-10-25 12:43] matthiasnoback opened #17 "Non-traditional meaning of "value object" used"
Hey everyone, I noticed this library being announced on Twitter. To be very honest, I think it's weird that this library and its documentation use the term "value object". How this term is used in the software development world and in the DDD community in particular corresponds in almost no way to how this library uses it. Could you maybe cast some light on this from your perspective?

[2018-10-25 13:38] brendt commented on #17
Naming is hard... It's "an object concerned with passing data", in other words: values.

That's where the name came from, but I understand the confusion. We briefly considered calling it plain "struct" but that seemed too low level (I personally compared it to structs in Rust).

I also considered the name "data transfer object", but I was afraid people would say that it didn't adhere to the DDD de

[2018-10-26 21:59] skyrpex opened #19 "Default ValueObject values"
Hi there! 👋

Have you considered allowing default values in the ValueObjects? Maybe it's not even a good practice... 🤷‍♂️ .

[code]

It's specially helpful when working with Laravel's request validation.

[2018-10-29 07:44] brendt commented on #19
@skyrpex overriding the constructor seems like the way to go. I think this is the better approach, because you cannot set all types of values directly to the property, so you're stuck with the constructor anyway, in some cases.

[2018-10-29 07:44] #19 closed

[2018-10-29 09:58] nyamsprod opened #26 "Requires Illuminate package but not present in composer.json"
https://github.com/spatie/value-object/blob/2470ecadf5a2114493044941930dfe6b049263dc/src/ValueObjectCollection.php#L8

[2018-10-29 10:11] brendt commented on #26
Oh, my bad! Feel free to submit a PR to remove it, or I'll fix it later today.

[2018-10-29 10:51] brendt commented on #26
I'll have to check this with my colleagues, so I'll take care of it later today. Thanks for taking the time to report this issue!

[2018-10-29 13:46] skyrpex commented on #17
I actually find `ValueObject`a good name for the class and the repository. It's an object that contains valid values.

[2018-10-29 14:10] nyamsprod commented on #17
Well that's not the definition of a Value Object.

For instance a `DateTime ` is a value object and a `DateTimeImmutable`  is an immutable value object.

This package, on the other hand, marshaled, optionally validated and finally converts data contains in a array in a convenient object structure. As you can see the usage is radically different and the naming is misleading.

[2018-10-29 15:10] skyrpex commented on #17
Thanks for the Wikipedia reference, @nyamsprod. It may only occur to me, but I see that the description in the Wiki correctly applies to what this library offers:

- Two value objects are equal when they have the same value (PHP also requires that they are the same class).

For example, why can't this be considered a value object?

[code]

[2018-10-29 19:07] nyamsprod commented on #17
@skyrpex

There is no such requirement in PHP

[2018-10-29 19:28] skyrpex commented on #17
In order to the equality return true, yes. See http://sandbox.onlinephpfunctions.com/code/5c09aeb96292e677cc8f51f45b896e80e3b48238.

[code]

[2018-10-30 07:41] matthiasnoback commented on #17
Actually, "DataTransferObject" wouldn't be a crazy idea after all. In fact, I created some package myself some time ago to implement the immutability aspect for DTOs that you're after with this library too (https://github.com/matthiasnoback/convenient-immutability). But you're also implementing typed properties, which is cool. What's important to me is that a DTO is an object you can decide to "po

[2018-10-30 07:45] brendt commented on #17
I agree Matthias. We discussed the name of this package at length last Friday, and decided we're going to change the name.

We settled on `DataObject`, because I was afraid of "claiming" the name `DataTransferObject`. However, if you think of it as a valid option to use DTO, I think we should go with it.

I'll leave this issue open for a few more hours, to see if there's any more input. Without an

[2018-10-30 07:47] matthiasnoback commented on #17
Cool! Yes, I consider "DTO" a valid option here. Keep up the good work!

[2018-10-30 07:48] matthiasnoback commented on #17
Also, thanks for a fruitful discussion and thanks everyone for their input.

[2018-10-30 07:55] nyamsprod commented on #17
@skyrpex  value object equality is different from PHP object equality.
@matthiasnoback @brendt I agree that Data Transfer Object looks better to me too 👍

[2018-10-30 08:40] driesvints commented on #17
`DataTransferObject` is a good name. I now actually realize that I've been doing the same thing in a previous project at one point and we always called those object DTO's.

[2018-10-30 10:22] #8 closed

[2018-10-30 10:29] brendt commented on #13
There's no good way to do this, unfortunately. Maybe someone comes up with a good idea, but for now we'll close it.

[2018-10-30 10:29] #13 closed

[2018-11-01 07:09] oanhnn opened #27 "[Feature request] Laravel package for casting Eloquent model attribute to Value Object"
I think you should make a Laravel package for casting Eloquent model attribute to Value Object.
Like `date` to `Carbon\Carbon` object, we can cast `phone_number` to PhoneNumber object.
It is very useful.

[code]

[2018-11-03 00:16] voku opened #28 "meta object for key auto-completion"
Hi, what do you think of an meta-oject, where we can get the keys, so that you don't need to use strings for this...

e.g.:
[code]

[2018-11-05 13:52] brendt commented on #28
I tend to use static constructors to handle autocompletion.

[code]

I don't think it's worth the overhead just for the sake of autocompletion.

[2018-11-05 13:52] #28 closed

[2018-11-05 13:54] brendt commented on #27
Do you mean casting the model in its whole, of just a property of that model?

Can you name a case where this would be useful?

[2018-11-05 14:57] brendt commented on #17
Took a bit longer than expected, but the package is now called `data-transfer-object`.

[2018-11-05 14:57] #17 closed

[2018-11-06 08:38] matthiasnoback commented on #17
Cool!

[2018-11-06 16:31] oanhnn commented on #27
It is like https://github.com/redcrystalcode/laravel-value-objects

[2018-11-07 09:40] brendt opened #29 "Automatic casting of nested properties"
If a property is type hinted as a DTO, and an array is received as its value, it should be automatically tried to be casted to the related value object.

[2018-11-07 10:40] mfn opened #30 "[SUGGESTION] Add declare strict_types"
Since this looks like a rather "modern" codebase to me, I think declaring strict_types everywhere would be great.

[2018-11-07 11:41] brendt commented on #29
Added in 1.5.0: https://github.com/spatie/data-transfer-object/releases/tag/1.5.0

[2018-11-07 11:41] #29 closed

[2018-11-07 11:49] brendt commented on #30
Done, thanks for the suggestion!

https://github.com/spatie/data-transfer-object/releases/tag/1.5.1

[2018-11-07 11:49] #30 closed

[2018-11-07 11:52] brendt commented on #27
It's out of the scope for this package, and it doesn't immediately apply to any of our use cases, but feel free to make a package using this one.

[2018-11-07 11:52] #27 closed

[2018-11-07 14:40] mfn opened #32 "Support namespace resolution on typed properties"
The test `nested_dtos_are_automatically_cast_from_arrays_to_objects` uses `NestedParent`:
[code]

If you either:
- import the `NestedChild` (e.g. with an alias)
- or just abbreviate it to `NestedChild` (because it's in the same namespace / directory

the code breaks:
[code]

I think this should be supported, it's common with IDEs to no write FQN everywhere and simply use imports (even though it's

[2018-11-07 15:54] mfn opened #33 "toArray doens't consider nested DTOs"
Example by taking `nested_dtos_are_automatically_cast_from_arrays_to_objects` and adding a `toArray` dump:
[code]

### Got
[code]
### Expected
[code]

[2018-11-08 07:32] mfn opened #34 "[SUGGESTION] Ability to ignore but preserve unknown properties"
If you want to use this library to encapsulate API results which are very big but you only need a fraction of it, you still have to "type" every field which makes it less useful.

Example: Twitter.

Twitters API results are nested up to 3 or 4 levels and contain a LOTS of fields. But usually you only need some parts of it, really.

For these cases, it would be useful if:
- the DTO would only need

[2018-11-08 07:56] brendt commented on #32
We already had an issue for this, and even a working PR:

- https://github.com/spatie/data-transfer-object/issues/13
- https://github.com/spatie/data-transfer-object/pull/14

As you can see in the PR, adding support for class aliases introduce lots of overhead, namely file IO. We could add a lot more caching, but it would still have a significant impact on performance.

If you have any ideas on ho

[2018-11-08 07:56] #32 closed

[2018-11-08 07:56] brendt commented on #33
Are you willing to create a PR for this?

[2018-11-08 08:15] brendt commented on #34
Interesting. Allowing unknown properties to be kept in the toArray result would reduce the safety we now get from the strong-ish typed system though. Let's consider the following example:

[code]

Say this DTO is constructed from an API call. The `removed_at` property can either be a date or `null`, `null` meaning this object is not removed.

Now imagine this API, an external source beyond your co

[2018-11-08 08:15] #34 closed

[2018-11-08 08:20] mfn commented on #13
My suggestion then is to not close this issue:
- people are asking for it
- it's not solved
- (just because we don't have a good solution yet, doesn't mean there won't be a fix)

Just my 2c

[2018-11-08 08:35] brendt commented on #13
You're free to submit a PR with a solution though, we'll keep that open and can discuss specifics there. I just don't think of this as "an issue": we've thought about this before, and came to the conclusion that we don't want to add support for it in the library, unless someone comes up with a better idea. That better idea belongs in a PR 🙂

Sidenote: when we discussed this a week ago, this packag

[2018-11-08 09:01] mfn commented on #34
I've yet to comprehend your response 😄 but one detail I noticed:

and the typehint given:

That's interesting because we potentially have three states, actually:
1) present (carbon-compatible date)
2) present with null value
3) really absent

I wonder if `null` is "good enough" for point 2) and 3).

Or should this rather be something like `void`?

Just a thought.

[2018-11-08 09:08] brendt commented on #34
`void` doesn't exist as a type. PHP 7.4 will add `uninitialized` as a state a property can be in, meaning "no value has been set".

We allow omitting values in a DTO's constructor, when that value is nullable. It will be automatically set to `null`.

We could remove this behaviour,  but that would mean you'd always need to explicitly pass `null` values. Thinking about it, that might not be a bad i

[2018-11-13 04:35] slince opened #38 "The difference with symfony/serializer or jms/serializer"
`serializer ` can help us  to apply property to object ；No need to let the class inherit some special classes

[code]
Maybe we should not recreate the wheel 😄

[2018-11-13 08:18] brendt commented on #38
How is autocompletion handled?

[code]

[2018-11-13 09:33] slince commented on #38
@brendt  yes, but you have define properties by annotation,xml or yaml for jms serializer; reference [http://jmsyst.com/libs/serializer/master/reference/annotations#type](http://jmsyst.com/libs/serializer/master/reference/annotations#type)

[code]

It is not need for symfony/serializer; but you have to generate `setter` for property `foo`. https://symfony.com/doc/current/components/serializer.html

[2018-11-14 13:01] brendt commented on #33
I also added support for `toArray` on collections. These changes are tagged as 1.6.1: https://github.com/spatie/data-transfer-object/releases/tag/1.6.1

[2018-11-14 13:01] #33 closed

[2018-11-16 06:37] YagO-o commented on #12
Hello. Sorry for my bad English.

I faced with same "array vs object" problems while developed my php-projects, and i developed similiar library for Dto-objects. More here:
https://github.com/YagO-o/simple-dto

Always i met with 2 problems when used dtos:
1) Object interface
2) Performance

First problem i decided by getters and IDE autocompletion. I decided, that object interface must be immutabl

[2018-11-16 07:54] mfn commented on #12
Can you expand a bit what interfaces you're talking about and showing an example how you would use it?

[2018-11-16 08:09] YagO-o commented on #12
Under "interfaces" i understand public methods of class to property access. What can describe any other interface if you would.

Example
[code]

[2018-11-16 08:21] mfn commented on #12
And the interface defines all the getters?

[2018-11-16 08:29] YagO-o commented on #12
Often yes. I often use dto with interface implementation, cause dto is often boundaries between classes communication.

For example
[code]

[2018-11-16 08:31] brendt commented on #12
Let's keep the following two goals of this package in mind:

- The most easy syntax possible, as less boilerplate as necessary.
- Once typed properties in PHP 7.4 arrive, you should be able to easily update existing DTOs.

Everything this package does can be done with simple getters and setters, without the need of a package. This package is heavily inspired by [Rust's structs](https://doc.rust-la

[2018-11-16 20:40] ryancco commented on #12
This might have been mentioned or tried, but we do have class level property comments [per the docblock documentation](http://docs.phpdoc.org/references/phpdoc/tags/property.html) and can fetch these using [ReflectionClass::getDocComment](http://php.net/manual/en/reflectionclass.getdoccomment.php). These together would provide the type-hinting and IDE-intelligence as well as the immutability by be

[2018-11-19 08:17] brendt commented on #12
@ryancco it has been mentioned via mail and on Reddit before, but it's good that you asked it here, so that I can provide a good answer. There are three reasons the `@property` approach is no good fit for this library.

## PHP 7.4

We want this library to be easily used when PHP 7.4 arrives. This means that writing this today:

[code]

Can be converted to the following in PHP 7.4, without any brea

[2018-11-20 12:42] brendt opened #41 "Proper default value support"
If you've set a default value, you'll still get an error when not passing the value to the construct.

[code]

[code]

[2018-11-20 13:13] sasa-b commented on #41
I'd be willing to help, I'm going to fork and make a PR if that's OK with you :)

[2018-11-20 13:16] brendt commented on #41
Sure! Looking forward to it

[2018-11-20 14:23] brendt commented on #41
Fixed with 1.6.5: https://github.com/spatie/data-transfer-object/releases/tag/1.6.5

[2018-11-20 14:23] #41 closed

[2018-12-09 22:58] dereuromark commented on #12
Performance is usually not a problem by the way, if you generate your classes :)
See https://github.com/dereuromark/cakephp-dto
The idea is to generate an optimized version, instead of doing all that magic and reflection on the go.

I plan to make a more generic (not Cake) bound version, and use the current one as wrapper.
Interested in joining in?

First give it a spin, what you think.

[2018-12-10 08:02] brendt commented on #12
Generating PHP code to optimize runtime performance is a great idea, but if you're going that way I'd take it one step further. Do you know of [preprocess.io](https://preprocess.io/) ? It's a project by @assertchris. It's my hope that preprocessing will be accepted by the general community, one day. We saw how much of an impact it had on the JavaScript community, and I think it would be a good way

[2019-01-28 16:59] kminek opened #44 "Casting of arrays"
it would be nice if following was also supported:

[code]

[2019-02-04 07:52] #44 closed

[2019-02-09 14:36] kminek opened #47 "Invalid type exception when casting empty array"
Following code shoud not throw an exception:

[code]

[2019-02-11 07:58] brendt commented on #47
@TBPixel could this be an oversight from #45 ? If so: would you like to take a look at it? Don't feel pressured! If you're not up for it, I'll gladly fix it.

[2019-02-11 11:32] dereuromark commented on #12
Would be interesting to see this in more detail at work.
Until then, my approach seems to cover everything already with the current PHP functionality available and can even mimic the exact type-safety/functionality that will come with future versions (PHP7.4+) in PHP7.1 etc. The nice thing about the generations: Easy to re-run based on future changes in the core language. Nothing on project level

[2019-02-11 17:06] TBPixel commented on #47
Hey @brendt I'd be glad to take this on. You're right that it does seem like an oversight from #45. It looks like a simple fix.

I'll write a test to re-create the issue and then implement a fix.

[2019-02-11 19:46] #47 closed

[2019-02-11 19:47] brendt commented on #47
Fixed in 1.7.1: https://github.com/spatie/data-transfer-object/releases/tag/1.7.1

[2019-03-15 13:09] brendt commented on #12
Found a way to fix it! See #50

[2019-03-18 08:06] #12 closed

[2019-03-18 08:06] brendt opened #52 "Immutable by default"
We could make immutable DTOs the default in the next major version. Mutabel DTOs would be possible with the `::mutable` static constructor.

[2019-03-20 22:40] brettvitaz opened #53 "Type `float` rejects `0` as a valid value"
Hello, thank you for this great library!

I am using this library in a Laravel project, and I am running into an issue. I am creating a Data Transfer Object that defines a float property and takes validated input from a Laravel route request. When a value of `0` is presented, an exception is thrown because `0` is not considered valid for a float (`0.0` works). I would very much like for the DTO to

[2019-03-21 10:42] brendt commented on #53
This can be done, but we won't do it. The goal of the package is to make type validation as strict as possible. I usually add static constructors on my DTOs:

[code]

[2019-03-21 10:42] #53 closed

[2019-03-21 23:02] bvitaz-ck commented on #53
Thank you. This does not seem like an ideal solution to me, especially given the non-loss of precision. It seems to me that the property definitions is a perfect way to enforce the type safety when accessing an object, and they should be a guide on how to handle object construction which do not unnecessarily require static methods to construct the object.

I understand that you will not fix this,

[2019-03-24 17:13] deviouspk opened #54 "Add support data validation"
I'm often in need to validate data and doing this inside the transporter would be the best place to do it imho. Wouldn't it be nice if we could also add support for data validation.

For example:
- property is required
- string must have min length X
- number must be greater than ..

etc

[2019-03-25 07:16] brendt commented on #54
I see what you're saying, but validation should not be a concern of DTOs. It's business logic that should be handled by a separate class or the request (like Laravel).

I know why you want this, but we're not going to add it.

[2019-03-25 07:16] #54 closed

[2019-03-25 13:50] deviouspk commented on #54
I'm aware of the original purpose of a dto as describer by martin fowler (https://martinfowler.com/eaaCatalog/dataTransferObject.html). But it just makes so much sense to put validation logic in there. If you pass data around the dto already checks for the type of each attribute. Checking if each attribute also satisfies a certain set of rules would make it so much more powerful. I basically use a

[2019-03-25 13:53] deviouspk commented on #52
I agree Dto's should be immutable by default. I don't even see a use case (other than bad practice) where you would want it to be mutable.

[2019-03-25 14:29] brendt commented on #54
Hi Arthur

In a Laravel project, I'm doing input validation in the request class or using Validators. Here's the thing: depending on where exactly you're using a DTO, the validation rules may differ. If I'm building a DTO from an admin super user's request, chances are I'll be able to do more than just a normal user. I still want to use the same DTO, but I want different rules to apply.

I make se

[2019-03-25 14:47] deviouspk commented on #54
I don't think it makes much sense to put validation logic in the request. This causes data being passed within the code not to be validated, only the incoming data from the user will be validated. This leads to code that is more error prone.

[2019-03-25 14:49] deviouspk commented on #52
I just checked the immutable implementation and i think you're right. There's probably no way to do this without losing the type hint functionality. Until https://wiki.php.net/rfc/immutability hits i don't think you can create immutable attributes without proxying them through to another class :(

[2019-03-25 14:55] brendt commented on #54
In that case you're free to make some kind of DTO factory, which handles the validation logic :)

[2019-03-25 14:59] deviouspk commented on #54
Already on it :p

[2019-03-25 15:05] brendt commented on #54
If you're going for the factory approach, I'm willing to consider adding it

[2019-03-25 21:56] deviouspk commented on #54
Hi brendt,
I've quickly coded in an implementation with a factory approach for the property class (so not for the dto). Doing it for the dto doesn't solve my problems unfortunately.

what do you think about the following implementation:

[code]

Ofcourse adding this method is completely optional so it does not introduce breaking changes.

Let me know what you think

[2019-03-25 22:06] deviouspk commented on #54
I could also add a feature that automatically builds the attributes from a schema (https://json-schema.org/).

[2019-03-25 22:53] deviouspk commented on #52
Ok so after coding the feature for validation i found a way to do the "impossible" and make it immutable without losing the typehinting. We can store the properties in an array. and unset all the public variables:

[code]

Then we add that magic __set method to the default datatransferobject class that throws an error (to block setting) & a magic __get method to proxy through the getting to the $p

[2019-03-26 00:44] deviouspk commented on #52
#55 proof of concept

[2019-03-26 07:25] brendt commented on #52
Ah you wrote the explanation here, I must say I'm impressed. Could you share the explanation also in the PR? This way we can continue the conversation over there.

[2019-05-25 11:24] deviouspk commented on #52
Hey brendt i see this issue is still open. Could you please checkout the implementation on https://github.com/larapie/data-transfer-object.

Should give you some good clues to implement immutability without compromises.
I'm gonna maintain this package with key differences like validation, annotations, ..

[2019-05-27 06:52] brendt commented on #52
I still plan on adding immutability in the future, no ETA yet. As said in previous PRs and issues: I'm open for a PR that only addresses the immutability part and follows our package guidelines.

[2019-08-19 16:53] yjerem opened #59 "Improve performance by memoizing property types"
Hello, thankyou for this excellent library, it has saved me from writing so much boilerplate! :smile:

I'm wondering if there's any reason the property types of the DTO can't be memoized? Currently it re-parses all the doc comments every time you construct an instance, which seems like a lot of unnecessary work when you are creating thousands of instances.

I tried replacing [this line](https://gi

[2019-08-19 17:11] sebastiandedeyne commented on #59
Hi @yjerem!

Brent, the maintainer of this package, should make the decision on whether or not this should be added, and he's afk for another week or two. Feel free to send over a PR already, but I can't promise it will get merged.

[2019-08-28 06:01] brendt commented on #59
@yjerem sounds interesting! I'm open for a PR!

[2019-09-13 14:08] rgehan opened #61 "Ignoring keys that are not defined in the DTO"
I'm using `spatie/data-transfer-object` to wrap the result of a third-party API.

I totally accept the risk that they might remove a key from the result payload, in which case it would break on the instantiation of my DTO, with a really clear exception.

That behavior is fine, and what I expect.

The problem is with keys that aren't defined in the DTO.

For instance, if I define the following DTO:

[2019-09-13 14:32] brendt commented on #61
A similar question has been asked in the past: https://github.com/spatie/data-transfer-object/issues/34

I know some people want to do this, but it defies the goal of this package: working with data in a predictable, strongly typed way.

We could make it "opt-in" as with your PR, but it's another piece of code we'll have to take care of from now until forever.

Now, unto a solution that might work

[2019-09-13 14:40] rgehan commented on #61
Yes, it's totally something I could do on my side, but it would have been quite nice to have by default in the package.

It doesn't make it less type-safe or predictable, as you'd still be a 100% sure all the keys you expect are defined.

It simply allows you to pass the full payload, but only retain what you care about.

This is the approach [mobx-state-tree](https://github.com/mobxjs/mobx-state-

[2019-09-16 07:14] alsar commented on #61
@brendt your factory would only work for the root DTO. If you would have nested DTOs it would fail for those, as they would still have missing keys.

[2019-09-16 07:15] rgehan commented on #61
My solution is simply to extend DataTransferObject, and overrides the parent constructor so that it removes all the unknown keys.

It is elegant-enough, and works with nested DTOs, even though I still feel like this should be in the package :)

[2019-09-16 07:16] alsar commented on #61
I did the same. :)

[2019-09-25 10:01] Gummibeer opened #64 "parse DateTime and stringable objects on toArray call"
If the `toArray()` method is expected to return an array with only scalar types the `parseArray()` method should be extended to also handle DateTime and stringable objects.
This would handle `DateTime`, `class::toArray()` and `class::__toString()`. I've changed the already existing `toArray()` part to handle all objects that implement this method.

I can open a PR if this is wanted/expected behavi

[2019-09-25 12:56] brendt commented on #64
Do you know by any chance know how Laravel's Eloquent `toArray` handles this?

I almost never use `toArray` myself, so I don't have a hard opinion on it.

Another thought coming to mind: I believe this would be a breaking change, as people using `toArray` right now don't expect it to work recursively.

[2019-09-25 13:11] Gummibeer commented on #64
Yes it will be breaking in some kind.

It serializes dates:
https://github.com/illuminate/database/blob/275642015b1388a8dfc492f957841bc8c5223203/Eloquent/Concerns/HasAttributes.php#L123-L136

Only the `__toString()` part is added on top.

Here you see it in action: https://github.com/Astrotomic/stancy/blob/master/src/Models/PageData.php

My goal is to have a scalar only array. The problem before w

[2019-09-25 13:18] brendt commented on #64
I think it would be the right thing, we'll add this in the next major version (probably when PHP 7.4 arrives)

[2019-09-25 13:20] mfn commented on #61
This is what happens in reality if you consume third party APIs. Ever worked with Facebook, YouTube, Google+, etc. APIs? Even if you didn't ask, they give you sometimes hundreds of data points which you have to ignore upfront somehow.

[2019-09-25 13:32] brendt commented on #61
I discussed this with a few more people. While I personally would never rely on this behaviour, I realise many people do want to. We'll make it so unknown properties are ignored instead of throwing an error, in the next major version (which will be released shortly after PHP 7.4 arrives in November)

[2019-09-30 10:02] #52 closed

[2019-10-01 14:43] Gummibeer commented on #61
@brendt will this be the default or enable/disable-able vie any argument? This package would get unusable for me if it would simply ignore additional properties.
Instead of an argument, I bet that this is a general setting for a whole DTO, so how about a protected property or even optional const?

[2019-10-01 14:58] rgehan commented on #61
@Gummibeer I'm curious as to why this would get unusable for you if it suddenly ignored unknown properties.

Do you rely on it throwing when it encounters unknown keys for something?

[2019-10-01 15:05] Gummibeer commented on #61
Exactly. I want a fully validated object - nothing more and nothing less. If I want something optional I use `|null` in the annotation. I would be even okay with having optional additional as default. But I wouldn't be okay with dropping this feature at all.

[2019-10-02 13:41] brendt commented on #61
@Gummibeer we're only talking about input data that the DTO doesn't accept, not about missing properties.

There are several ways we could implement it to keep both ways available, the question is which one is preferred.

- Have a dedicated static constructor that's a little more loose: `DTO::makeAndIgnoreRedundantInput()` — obviously with a better name
- Have a subclass of DTO: `DataTransferObjec

[2019-10-02 15:09] Gummibeer commented on #61
I would prefer a dedicated class which only defines a static property or const which could also be defined in the normal DTO with the same effect.
And yes, I know - but I also want an exception if the user tries to input too much into the DTO.

[2019-10-03 07:34] alsar commented on #61
I also think the best solution would be to have a subclass of `DataTransferObject` for this purpose.

[2019-10-03 09:44] brendt commented on #61
Any suggestions for a name?

[2019-10-03 09:51] Gummibeer commented on #61
* OverloadedDataTransferObject
* AdditionalDataTransferObject
* IgnoreAdditionalDataTransferObject

[2019-10-03 12:17] alsar commented on #61
One option would also be to do it the other way around. `DataTransferObject` for the new class where the keys are ignored and `StrictDataTransferObject` for the old behaviour.
But that probably is not possible because of BC.

[2019-10-03 12:29] brendt commented on #61
In the end the perfect solution will depend on what side of strictness you prefer. Unfortunately for those who like a less-strict type system: I'm of the opinion that the strict option should be the default.

After reading your feedback though, I believe that the best solution is to add a static constructor on the existing DTO class, and not make a new implementation. I believe this is the best so

[2019-10-03 12:37] alsar commented on #61
I don't think it depends on what kind of strictness you prefer. It mainly depends on the input data you have.
Mostly the requests for a loose version are coming from people that use DTOs with external APIs, where you would have to define a ton of useless properties that you never will use.

[2019-10-03 12:40] brendt commented on #61
Look, the goal of this package is to _know_ what data you're working with. For example, this is how I  _always_ construct my DTOs:

[code]

Is this tedious? May be. But at least I'm 100% explicit how data is mapped. Now I realise people want to use this package just for its type validation functionality. That's why I agree to adding this feature.

[2019-10-03 12:59] mfn commented on #61
Wholeheartedly agree. Anyone having worked with lots of different APIs, especially from the big social media players, knows about this issue. It's simply not practical to always map everything.

[2019-10-03 14:44] brendt commented on #61
I've got around 100 DTOs in one project, each and every one of them does a manual mapping. It is practical, because  it serves a purpose.

I'm actually writing a book about how we handle large projects at Spatie, and the second chapter is wholly dedicated to working with data, I'll let you know when it's done, in case you want to read some more background information about my point of view.

[2019-11-01 15:44] chrisbjr opened #69 "A few questions on correct usage"
Hi @brendt @freekmurze

This is not actually an issue but questions on correct usage.

After reading @brendt 's article on [DTOs](https://stitcher.io/blog/laravel-beyond-crud-02-working-with-data), we wanted to try using this in one of our newer projects and we found that this actually helps us separate the logic for constructing data from our controllers.

Take one of our controller methods here

[2019-11-04 08:27] brendt commented on #69
Sure, feel free to make separate DTOs if there's enough difference. Most often I simply add some nullable properties and use the same DTO for creation and edits. But it's up to you.

I do so because:

- It keeps the codebase consistent
- Even a small DTO still offers more insights than the blackbox that is a validated request array.

Again, it's up to you. If you feel like there's more value in de

[2019-11-04 08:29] #69 closed

[2019-11-04 15:43] chrisbjr commented on #69
Thanks for the feedback @brendt!

[2019-11-08 13:51] bastien-phi opened #70 "Support for iterable is missing"
It looks liks support for iterable is missing. I want to define the following DTO

[code]
but when I create the DTO, I got that exception :
[code]

However, declaring `string[]` works but it does not allow to pass a traversable (a Collection for example) :
`Spatie\DataTransferObject\DataTransferObjectError : Invalid type: expected App\MyDTO::strings to be of type string[], instead got value `Illum

[2019-11-12 08:05] bastien-phi commented on #70
Declaring `$strings` as `string[]|iterable` works for `['foo', 'bar']` bur does not for `collect(['foo', 'bar'])`. I have to declare it as `string[]|\Illuminate\Support\Collection` to make it work.

I will try to work on this when I find a moment.

[2019-11-27 08:09] brendt opened #73 "Property validation"
In order to properly handle caching, we want to refactor the current `Property` to allow it to be cloned. (See #66)

[2019-11-27 08:11] brendt commented on #73
@Gummibeer asked the following in the other PR

[code]

[code]

[2019-11-27 08:19] brendt commented on #73
Here are some of my thoughts:

- I think `PropertyValidator` is a better name
- Since we'll be using the validator in the DTO constructor, I think it makes sense to add the DTO as an instance variable on the validator class
- I know we'll add caching after this so this might be a non issue, though I wonder whether we would be able initialise the reflection classes when constructing the validator c

[2019-11-27 08:19] brendt commented on #73
As always, I'm open for all feedback!

[2019-11-27 09:13] Gummibeer commented on #73
[code]

[code]

[code]

Having a simple `getCache()` method or injecting on runtime with an interface would be everything required for "configurable to the outside". For sure the user has to override multiple classes/methods but this way it would be possible.
Because this package is framework agnostic I scratch my had how to prevent a static only cache class? Should we use the simple old-school si

[2019-11-27 10:06] brendt commented on #73
How about ditching the `PropertyCache::getInstance` method and making all methods static instead?

If you'd want to roll your own implementation, one should simply extend the `DataTransferObject` class and make changes wherever they seem fit.

PSR-6 seems like taking it a step too far, indeed 😁

[2019-11-27 10:34] Gummibeer commented on #73
@brendt just thought about the singleton because all static is most times seen as bad practice.
I'm not against it. So if it's the only thing I will start with it. :)

[2019-11-27 10:49] brendt commented on #73
Well… singleton is viewed equally bad 😃I think you could make the cache class abstract, to only allow static methods on it

[2019-12-10 23:55] mfn commented on #61
Regarding https://github.com/spatie/data-transfer-object/issues/61#issuecomment-537497331

Would this work with nested partial structured?

I currently too simply override the constructor with this:
[code]
and then make all my DTOs extend this one.

[2019-12-11 00:24] mfn opened #75 "Immutability does not carry over to nested properties"
Maybe it's a known thing and I just missed it, but they README doesn't give the obvious away to me:

However, if you I define a nested structure, I still can change the nested property. Immutability only affects the root DTO:
[code]
Output:
[code]
This however fails (as expected):
[code]
with

[2019-12-12 15:05] rogervila opened #93 "Cannot use spatie/data-transfer-object DTOs with events"
Hello,

I wanted to use DTOs from [spatie/data-transfer-object package](https://github.com/spatie/data-transfer-object), but it looks that event serialization does not support it.

Is it mandatory to use primitives on events?

This is the setup:

[code]

These are the logs
[code]

Thank you.

[2019-12-13 08:49] brendt commented on #75
Immutability is still a bit quirky indeed… I'll accept a PR that fixes this.

[2019-12-13 11:00] brendt commented on #61
Hello everyone. I'm working on v2, and was looking at adding this feature. There's no way to do it in a clean way without major refactors.

Once again I circle back to the goal of this package: it's meant to become obsolete as soon as PHP has a good enough type system. Right now it's missing three things which still warrant this package's existence:

- Generics
- Named parameter lists
- Union type

[2019-12-13 11:04] #70 closed

[2019-12-13 12:21] brendt commented on #61
I give up ¯\_(ツ)_/¯ too many people want this feature, even though I don't think it makes sense. I've added a `FlexibleDataTransferObject` in the v2 branch: https://github.com/spatie/data-transfer-object/pull/77/commits/aaa056fb847ffe75dfdf4793e2bec91e943b527a

[2019-12-13 12:34] brendt commented on #73
@Gummibeer I'll be implementing this today

[2019-12-13 14:16] brendt commented on #73
@Gummibeer what do you think? https://github.com/spatie/data-transfer-object/pull/77/commits/08b4c08c0b3a96699a1f63ce9a76efda29321518

[2019-12-13 14:16] brendt commented on #59
I've added a cache in the V2 branch: https://github.com/spatie/data-transfer-object/pull/77/commits/206ce5365ef8cc0ad275fa0517e67b42d212f268

[2019-12-13 14:25] brendt commented on #59
Let's continue this discussion in #77

[2019-12-13 14:25] #59 closed

[2019-12-13 14:26] brendt commented on #73
Let's continue the discussion in #77

[2019-12-13 14:26] #73 closed

[2019-12-15 10:15] loveorigami opened #78 "Not worked, if all properties as array"
I have response from youtube api
for example - https://developers.google.com/youtube/v3/docs/channels/list?apix=true&apix_params=%7B%22part%22%3A%22id%2C%20snippet%22%2C%22forUsername%22%3A%22loveorigami%22%7D

![2019-12-15_13-13-30](https://user-images.githubusercontent.com/98164/70861295-f5c44180-1f3c-11ea-9d0f-02198389d8a1.png)

[code]

My Dto - s
[code]

I am load data as
[code]
and have error

[2019-12-15 16:27] mfn commented on #78
Which error? Do you have a stacktrace?

[2019-12-15 20:19] loveorigami commented on #78
Thanks. Sorry, it is my mistake in FQN in phpDoc.
After fix - it is work fine!

[2019-12-15 20:20] #78 closed

[2019-12-15 20:29] loveorigami commented on #78
Thanks! It is my mistake in FQN. In my code I use as

[code]
because I think $thumbnails - it is array.

Now I fix it as
[code]

[2019-12-16 10:23] tfont commented on #61
Maybe I am a bit late to the party and sorry for scanning through all the comments above! It seems like a lot of debate over something a bit too small, with the result of a considerable impact.

DTOs should always be defined, period. Why even consider using them? That is the meaning behind them.

Perhaps consider, DDO or reconsider your code design.

[2019-12-16 10:29] rgehan commented on #61
@tfont A lot of us are using DTOs to store the result of a 3rd-party API, which might return a lot of useless keys.

I'm dealing with an API which returns hundreds of key, while I only care about 5 of them.

I could spend time defining all of them in my DTO, but then it would break as soon as one of them is missing/added, even though I'm not even using it (and there are APIs that pull stuff like t

[2019-12-16 10:34] tfont commented on #61
@rgehan reconsider how you're managing your objects.

Be happy you aren't using a language like C#.

[2019-12-17 11:44] simioluwatomi commented on #61
I'm also working on an application that interacts with unpredictable APIs whose response can be modified based on business needs (business needs change almost every week and custom fields are added without me knowing about them). Imagine my surprise when I come to work and a perfectly working DTO suddenly begins throwing errors!

So the current solution is to make all DTO properties nullable (whic

[2019-12-19 14:02] brendt commented on #61
This is now backported to v1: https://github.com/spatie/data-transfer-object/releases/tag/1.12.0

[2019-12-19 14:02] #61 closed

[2019-12-20 13:19] Gummibeer commented on #73
@brendt looks good. :)

[2019-12-31 09:51] kaiweia commented on #75
Maybe we can just hijack `ImmutableDataTransferObject` constructor?
[code]

[2020-01-05 00:44] atymic opened #84 "Tool to generate DTOs from json"
Hey Brent :)

I've been using this package pretty heavily on a new project, and quickly got tired manually converting API responses into DTOs.
Inspired by some of the json2typescript style tools, i've built a similar one for this package 😄

It supports both docblocks & typed properties, as well as flexible DTOs (🙈).

https://json2dto.atymic.dev

I was wondering if you'd maybe consider adding it to

[2020-01-05 19:59] mfn commented on #84
What license is your code?

Also I;d find it practical 😎 if it more like a library / CLI utility…

[2020-01-06 21:38] atymic commented on #84
@mfn

Oops, sorry added a licence :)
It'd be pretty easy to make it into a CLI util. I'll create an issue to get that done if you'd like. Would be pretty easy to split it into a composer package while i'm at it if you'd like to use it directly in your code as well.

[2020-01-07 06:43] mfn commented on #84
I think that wold be the better way, hardly can imagine devs want to use GUI tools for generating stuff.

Unrelated, just briefly checked the code, does it generate nested DTO classes or how does it handle them?

[2020-01-07 06:57] atymic commented on #84
TBH I prefer the GUI - imo it's much easier to copy paste a json blob into the interface, select the settings and hit generate. I find it much more fiddly creating a file on the disk, then writing out the arguments to get the right settings.

It's not that hard to do both though :)

Currently it doesn't handle them (it just sets the properties to mixed/blank type). I've got it on the todo, I think

[2020-01-07 07:50] brendt commented on #75
Feel free to submit a PR with tests, it should target the v2 branch though, because technically this is a breaking change.

[2020-01-08 10:50] brendt commented on #75
Added on the v2 branch

[2020-01-08 10:50] #75 closed

[2020-01-08 10:59] brendt commented on #84
Nice one! I'd say there is potential for a command line tool, maybe as a Laravel package; though the GUI itself is already very useful. Feel free to submit a PR to the README, add it under the `Credits` section, something like

[code]

[2020-01-08 11:00] #84 closed

[2020-01-19 07:04] atymic commented on #84
I've released a CLI version, as per @mfn's suggestion 🎉

I've also added support for generating nested DTOs to both the GUI and the CLI tool.

I'll update the website shortly :)

[2020-01-25 04:08] atymic opened #90 "Document flexible DTOs"
I know there's rather strong opinions in regards to the flexible DTO feature, but since it's part of the package now, I think it should be documented in the readme.

Happy to PR if you'd accept it.

[2020-01-25 19:00] mfn commented on #90
Makes sense to me. It was the only reason I could start using (and contributing back) to this project. 👍

[2020-01-27 11:02] #64 closed

[2020-01-29 14:42] nkorent opened #91 "automatic array casting to nested DTO"
Hi,
I'm having an issue (probably of my understanding)

I've type hinted a property in my DTO as another DTO (nested DTO)
[code]

to this property I'm forwarding correct values needed for construction of CompanyData DTO but I'm getting error
[code]

Could anyone help me out to understand this a bit better or what am I doing wrong here please? :)

[2020-01-29 19:18] mfn commented on #91
The phpdoc reference has to be absolute in the phpdoc, i.e. `\App\DataTransferObjects\CompanyData`.

It's also mentioned in the readme https://github.com/spatie/data-transfer-object/#automatic-casting-of-nested-array-dtos :

A limitation due to performance consideration of the current implementation.

[2020-01-30 14:47] brendt commented on #90
Feel free to send a PR.

[2020-01-30 14:47] #90 closed

[2020-01-30 14:53] #91 closed

[2020-01-30 15:46] nkorent commented on #91
thanks @mfn , figgured it out later on but forgot to update status of the issue.
👍

[2020-02-10 18:34] renepenner commented on #91
Is the automatic casting possible without phpdoc, just with php7.4 property Type?

[2020-02-11 07:26] brendt commented on #91
I haven't tested this yet, as I never use the array casting feature myself. Feel free to write a test for it and PR it. If it fails I'll be happy to fix it.

[2020-03-06 07:33] brendt opened #97 "Proper handling of `uninitialized`"
As of PHP 7.4, there's an "uninitialised" state, which is what `hasDefaultValue` represented before 7.4. Since this package is aiming to mimic PHP's type system as close as possible, I think it's worth taking this into consideration.

In practice though, there's an explicit `null` check: https://github.com/spatie/data-transfer-object/blob/master/src/DataTransferObject.php#L54-L56 so your code woul

[2020-03-06 07:33] brendt commented on #97
Also see the discussion in https://github.com/spatie/data-transfer-object/pull/95

[2020-03-10 18:04] ggolda opened #98 "Php 7.4 type hint for nested DTO doesn't work"
I have a DTO structure as below:

[code]

And when I construct DTO from array it throws error:
[code]

Works if I use a `@var` docblock.

[2020-03-11 06:26] brendt commented on #98
Feel free to submit a PR with a fix.

[2020-03-11 19:33] skyrpex commented on #98
@brendt I'll give it a try. How would you like to approach this? The `FieldValidator` only understands doc comments. Should I create two different validators and a interface, or maybe supercharge the existing validator?

[2020-03-12 10:33] brendt commented on #98
Some valid points. I'll take a closer look when I've got some spare time.

[2020-04-21 23:43] rmsj opened #102 "Nested array of DTOs not working"
`class TagData extends DataTransferObject
{
    /** @var string */
   public $name;
}

class PostData extends DataTransferObject
{
    /** @var \TagData[] */
   public $tags;
}`

The code in the example doesn't work.
DTOs that have a nested array of DTOs failed with
`Invalid type: expected `UserMetaData::organisations` to be of type `OrgMetaData[]`, instead got value `array`, which is array.

[2020-04-22 06:02] brendt commented on #102
I'm pretty sure that the example you've provided isn't the one that's actually crashing? Have you used the full namespace as a type?

[2020-04-28 07:24] #102 closed

[2020-04-28 07:24] brendt commented on #102
Closed since there hasn't been any followup

[2020-05-08 06:16] brendt commented on #98
I'll merge https://github.com/spatie/data-transfer-object/pull/106 today

[2020-05-08 06:16] #98 closed

[2020-05-09 14:09] NoiseByNorthwest opened #107 "FQCN is not resolved in annotations"
Is it possible to add the support for non-FQCN in annotation ? It could be very useful in many cases, especially when the IDE itself automatically imports the non-local types.

[2020-05-09 20:40] mfn commented on #107
Duplicate of https://github.com/spatie/data-transfer-object/issues/13

Please see the linked PRs/issues, the TL;DR it's a complexity and performance thing, as there's no trivial way to get the FQCN without adding complexity/overhead.

Doesn't mean a good PR won't get attention :)

[2020-05-11 11:33] jorenvh opened #108 "Automatic casting of nested DTO's on multiple levels does not work"
**ENV Info**
- php 7.3
- package version: 1.13.3

To start I would like to mention that I think that my issue is what the author of issue #102 meant.

My setup exists out 3 DTO's: Order, Buyer & Address. Where everything starts within the order DTO. Think about it like this: An order has a buyer and a buyer has an address.

**The exception:**

[code]

**The code:**

[code]

[code]

[code]

[code]

[2020-05-11 11:44] jorenvh commented on #108
Damnit, the AddressData class is not extending DataTransferObject 🤦‍♂️

Ofcourse I see this only after testing quite some scenario's and writing an issue on Github 🤦‍♂️

[2020-05-11 11:44] #108 closed

[2020-05-12 06:17] brendt commented on #107
Personally I wouldn't consider adding this anymore:

- PHP 7.4 types make most docblocks redundant
- Using a proper IDE will auto import FQDNs
- Doccomment conventions state that FQDNs should always be used
- It's a performance nightmare to properly support non-FQDNs, because use statements are not accessible in reflection

[2020-05-12 06:17] #107 closed

[2020-05-12 08:55] mfn commented on #107
I wonder if https://wiki.php.net/rfc/attributes_v2 can change the game here

[2020-05-13 14:29] gpassarelli opened #110 "Dealing with relationships"
First of all, thanks for the awesome package.

Sorry to open an issue for this, but as I tried to find everywhere(your blog post, the documentation, past issues, etc) how to handle this but I couldn't find it.

On the ReadMe file, you explain we can set the DataTransferObject with the $author prod typed as an Eloquent Model

    /** @var \Author */
    public $author;

But later on the DataTransfe

[2020-05-13 17:27] jpnut opened #111 "Support for self/static"
Currently any references to `self` or `static` as type hints or type declarations do not work. When normalising the type, it is converted to a string. That means when we call `assertValidType`, we check if `$value` is an instance of `'self'` or of `'static'`. (To be absolutely clear, I'm referring to `static` here not in the sense of a static property but as a reference to the called class).

I di

[2020-05-14 06:55] brendt commented on #110
I've done both in the past, depending on what context I'd use a DTO in. If it's used in actions that perform lots of business logic, chances are you'd need `Author` anyway. If it's used to store data in the database, `author_id` should suffice.

[2020-05-14 06:55] #110 closed

[2020-05-14 06:58] brendt commented on #111
How would you know what concrete class should be used as the `static` one though?

Take the following example:

[code]

There's no way to know this, that's the nature of static.

[2020-05-14 10:09] jpnut commented on #111
In your example, surely `staticProp` should be resolved to an instance of A? It would only be resolved to `StaticB` or `StaticC` if those classes were constructed explicitly.

Consider for a moment an example using the same structure as yours above, but with

[code]

instead. Then the following are all valid:

[code]

The point here is: we can manually set `a` to be any instance or extension of A

[2020-05-14 13:05] brendt commented on #111
In many cases `A` would be an abstract class, which cannot be instantiated. What would happen then?

[2020-05-14 13:06] brendt commented on #111
I gave it another read, I get your point now. You're free to submit a PR!

[2020-05-19 03:31] vanthao03596 opened #113 "[Question] How to define optional property array of string"
I have optional property name $new_images. How i can define this property this property as type array of string. I tried code below but it not work.

`/** @var string[] $new_images */
	public ?array $new_images;
`

[2020-05-19 11:22] brendt commented on #113
`/** @var string[]|null $new_images */`

Like so?

[2020-05-19 11:22] #113 closed

[2020-05-22 07:51] ArondeParon opened #114 "Support extending FieldValidator?"
## Problem that I am trying to solve:

I want to be able to cast properties to enum instances. The [enum library](https://github.com/marc-mabe/php-enum) I am using (sorry, not Spatie this time!) does not have a public constructor, so I need to initialise these objects using a static method.

As far as I can see, I would have to create custom logic in `FieldValidator` for this so that I can detect

[2020-05-25 10:13] mfn commented on #114
I tried to improve the situation for such cases, see https://github.com/spatie/data-transfer-object/pull/76

Since I was lucky and really only needed a specific class (CarbonImmutable) I submitted some PRs to ensure the flexibility so I can override `castValue` which in my case was enough:
[code]
I only initialize this once during boot of the application, like this:
[code]
Works surprisingly well,

[2020-05-27 02:32] niwsmbulai1989 opened #115 "lumen version is 5.52 could not be installed"
`
Using version ^1.13 for spatie/data-transfer-object
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - The requested package laravel/lumen-framework (locked at v5.5.2, required as 5.6.*) is satisfiable by laravel/lumen-fr

[2020-05-27 05:57] brendt commented on #115
This has nothing to do with this package, but a version conflict between `tymon/jwt-auth` and `laravel/lumen-framework`.

You can use `composer why`  and `composer why-not` to debug such problems.

[2020-05-27 05:57] #115 closed

[2020-05-27 06:05] niwsmbulai1989 commented on #115
How to solve this problem? Is the lumen version too low?

[2020-05-27 06:11] brendt commented on #115
I'm sorry but I'm not here as a supportline for all PHP related problems :) My suggestion would be to read up on how to debug composer version conflicts, I'm sure google will be able to help.

[2020-05-31 09:34] morrislaptop commented on #93
FWIW if you're using DataTransferObject's as events it gives you the opportunity to use a much simpler serializer than the Symfony process

[code]

Haven't heavily used this, for example expectings to go wrong with DateTime instances, but going to use this approach going forward.

[2020-05-31 09:39] morrislaptop opened #116 "Automatic casting of nested array DTOs doesn't work with DataTransferObjectCollection"
[code]

Would you be open for a PR?

[2020-05-31 13:19] mfn commented on #116
Would the idea to introduce special checks for `DataTransferObjectCollection` to handle this?

[2020-05-31 16:45] morrislaptop commented on #116
Yep - see if the type extends `DataTransferObjectCollection` then get the type from the `current` method and try to cast to that...

[2020-05-31 17:56] mfn commented on #116
Aha, that's the catch! From the readme at https://github.com/spatie/data-transfer-object/#working-with-collections

[code]

[2020-06-02 06:07] brendt commented on #116
It's an interesting feature, but we'd need a good way to handle edge cases when no DTO can be inferred. In fact, I needed this feature in `laravel-data-transfer-object`, to be able to support custom Eloquent casts. I added `collectionFor` method, which basically tells you which DTO it's a collection for.

We could add it as a requirement in the DTO package, but it would be a breaking change, and i

[2020-06-03 11:19] morrislaptop opened #118 "Providing more than one type option"
Is there the ability to do anything like https://github.com/typestack/class-transformer#providing-more-than-one-type-option?

[code]

[2020-06-03 12:41] chrisrhymes opened #119 "Working with collections"
I have found this package very useful, thank you. I just have a question about working with collections. If I use the example in the docs of the post data then should I be able to pass in the json, such as an array of post data objects, and get a collection returned?

[code]

I do get a collection returned, but instead of being a collection of objects it returns a collection of arrays. This means

[2020-06-04 12:53] mvdhoek1 opened #120 "How to retrieve a value in a nested array?"
Given this code snippet:

[code]

Now when I dump `$postData->title` it will return an array:

[code]

Is it possible to retrieve the value of 'rendered' directly?

Any help would be appreciated :)

[2020-06-06 19:37] mfn commented on #118
Nothing like this is currently built-in.

The "suggested way" would be to catch this in the DTOs constructor by inspecting the payload and massage/cast the incoming data as necessary.

[2020-06-06 19:42] mfn commented on #119
The constructor already needs to receive the collection as the correct type, [please refer to this part in the readme](https://github.com/spatie/data-transfer-object#working-with-collections):

[2020-06-06 19:49] mfn commented on #120
- create another DTO, e.g. `PostDataTitle extends DataTransferObject`
- use FQCN to refer to it in `@var \App\…\PostDataTitle`

that should do it, unless I made a mistake.

Basically it's this part of the readme => https://github.com/spatie/data-transfer-object#automatic-casting-of-nested-dtos

[2020-06-08 08:00] chrisrhymes commented on #119
Thank you for your help!

[2020-06-08 08:00] #119 closed

[2020-06-08 08:37] mfn commented on #119
You're welcome!

I think in hindsight the most important piece next to the custom constructor is in fact the `arrayOf` helper method; maybe it should be more emphasized in the docs.

[2020-06-09 06:26] #120 closed

[2020-06-09 06:27] brendt commented on #118
I don't think this is something the package should support. If you want to automate it, I'd suggest to build custom DTO factories.

[2020-06-09 06:27] #118 closed

[2020-06-11 14:03] chrisrhymes opened #121 "Cast a timestamp to Carbon"
I was wondering if it's possible to cast a timestamp to a Carbon instance within a DataTransferObject class? The JSON contains the startdate as `1589929200` and I would like this to be converted to a Carbon instance to make it easier to user later.

I have tried the below, but this throws an invalid type exception, expected startdate to be of type \Carbon\Carbon, instead got value `1589929200`, wh

[2020-06-11 14:35] brendt commented on #121
The DTO package won't handle any types of casts besides DTO classes. It's up to you to properly cast values with a static constructor or a DTO factory.

[2020-06-11 14:35] #121 closed

[2020-06-11 14:38] brendt commented on #114
I don't think this kind of type juggling is something we want to support in the DTO package. It's true that casts work for DTO-classes, which I find an edge case, personally I'd rather not support them but people seem to like that approach.

The goal of this package is to provide type safety for your data. If you want to cast all kinds of values, I think some kind of generic DTO factory should be

[2020-06-11 14:38] #114 closed

[2020-06-11 18:43] mfn commented on #121
@chrisrhymes I already tried to haggle with @brendt to no avail 😄  => https://github.com/spatie/data-transfer-object/pull/76

The PR I made is basically the code I now use in my apps repository, here's the latest version I use:
[code]
Since I'm using Laravel, I added this to my `AppServiceProvider` and called it from the `boot()` method:
[code]
As you can see, concept-wise it supports any kind of

[2020-06-12 07:30] chrisrhymes commented on #121
Thanks for confirming Brendt, just wanted to make sure I wasn't missing a trick somewhere. I have decided to create a trait that will allow me to do what I need.

[code]

[code]

[2020-06-15 12:17] denjaland commented on #54
@deviouspk I was actually going to suggest a very similar features, only I would - in line with Laravel's requests - suggest adding an optional method that returns rules:

[code]

This seems like a much easier, straight forward approach.
As I see @brendt, for the reasons he mentioned before, isn't interested in adding it to the package, I'm going to add it myself here by extending this package's c

[2020-06-19 08:22] brendt commented on #111
Further discussion in #112

[2020-06-19 08:22] #111 closed

[2020-06-23 14:43] bastien-phi opened #122 "Allow integers in float fields"
I don't know if this is a legitimate issue but using version 2.2.1, I can't pass an integer to a float field.
[code]
doesn't work.
[code]
Of course, I could just do `new MyDTO(['foo' => 42.0]);` or `new MyDTO(['foo' => (float) 42]);` but I wondered if this behavior was the one wanted as php allows to
[code]
Would you be open to allow such things in this package ?

[2020-06-23 15:02] mfn commented on #122
Isn't the problem the loss of information? See https://3v4l.org/kOVYA

It the package would do that, it "could" loose information.

Unless I'm missing something, IMHO this has to be done explicitly.

[2020-06-23 19:41] bastien-phi commented on #122
Transforming a float to an integer can loose information indeed.

My point here is not about accepting float for an integer attribute but accepting an integer for a float attribute. I can't see how you can loose information here.

My problem comes from serialization/de-serialization where `.0` is not always kept in jsons (for example https://3v4l.org/WLVKK) and I cannot always control or manually

[2020-06-24 03:36] mfn commented on #122
Please look at https://3v4l.org/kOVYA again, it shows you that the conversion from integer to float also looses information:

- value is PHP_INT_MAX, i.e. depending on your arch it can be `9223372036854775807`
- you convert it to float => `9.2233720368548E+18`
- you cannot get back the original int value, you lost information because it became `-9223372036854775808` :boom:

[2020-06-24 06:48] bastien-phi commented on #122
Ok. So you think that the package should be stricter than php ?

[2020-06-24 07:05] brendt commented on #122
Yes, that's the goal of the package: provide stricter type checks than PHP :) It's true that PHP allows to mix integers and floats, but this package doesn't.

You should indeed explicitly cast the value if you want to mix them.

[2020-06-24 07:05] #122 closed

[2020-06-24 09:01] bastien-phi commented on #122
I will stick with
[code]
event if it does not make sense.

I don't always control how serialization is done and the fact that `json_encode(['foo' => 42.0])` gives `{"foo": 42}` bugs me. I know it is possible to use `JSON_PRESERVE_ZERO_FRACTION` but working with a public API does not ensure that it will be the case.

In fact, even working with my own data can be problematic as requests from  javasc

[2020-06-27 00:23] gabrielalack opened #123 "Why doesn't DataTransferObjectCollection extend Laravel's Collection class?"
Example use case

[code]

As it is, this Collection object is severely limited and you cannot use some of the more useful features of Laravel's collections.

[2020-06-30 08:00] brendt commented on #123
This package is framework-agnostic, which is why.

[2020-06-30 08:00] #123 closed

[2020-07-06 08:19] rihardssceredins opened #124 "README.md update to match PHP 7.4"
Hey!

First off - lovely package (as always)! 💯

Would be really nice if README.md could be updated with the current preferred standart on how to use DTOs after 7.4 was released and the package's minimum required PHP version was bumped to 7.4. Currently on the README.md it still says:

[2020-07-07 06:30] brendt commented on #124
Feel free to submit a PR! Otherwise I'll look at it later this week

[2020-07-07 07:54] rihardssceredins commented on #124
@brendt I'd love to but I would be guessing about the implementation/way you imagined it for PHP 7.4. For example, do you still support doc blocks (i could look it up, i know) or since requiring PHP 7.4 you only support typed properties/recommend going with typed properties where possible? Lets say in this case:

[code]

[2020-07-07 08:43] mfn commented on #124
@rihardssceredins yes, they're still supported. This is due to the fact that PHP property types are more limited so phpdoc has even precedence to provide more specific/strict type information.

[2020-07-07 22:07] JunaidQadirB opened #125 "[Question] What's the recommended way to upload files?"
I've just started using the package. so I have an existing form to create/update posts with a `featured_image`  field along with, `title`, 'slug', and `body`.

With form requests, I have the option to pass the request to my action and check the existence of a file via `hasFile` method.

What is the recommended way to upload files using DTOs and actions?

[2020-07-08 07:14] brendt commented on #125
I'd store the file first, and pass the path to the DTO

[2020-07-08 07:14] #125 closed

[2020-07-16 07:08] #124 closed

[2020-07-16 14:41] aidan-casey opened #127 "Watch changed properties"
@brendt, my gut tells me you are going to hate this idea, but it was fresh on my mind and I figure worse case I will just be set straight on how we should accomplish this functionality. 😀

Currently there are several useful methods that exist on the `DataTransferObject` class. For example, we have `all()`, `only()`, and `except()` which help us retrieve _only_ the data we need to. There is not a w

[2020-07-16 14:47] mfn commented on #127
Personally I would rather not even have this helper methods there and keep the lib as slim as possible no-features-attached. My 2c 😏

[2020-07-16 14:50] aidan-casey commented on #127
That is fair and I get the sentiment, but this package did kinda go down that road when the existing ones were implemented.

[2020-07-16 16:52] PaulJasiul opened #128 "Type hint not working"
I always get an error: **Invalid type: expected `Domain\\Blog\\DTO\\ArticleData::author` to be of type `Domain\\User\\Models\\User`, instead got value `null`, which is NULL.**

My DTO:
[code]

POST content:
[code]

Any ideas how to fix it?

[2020-07-16 18:01] aidan-casey commented on #128
@PaulJasiul, this package does not automatically cast classes unless they are data transfer objects. You will need to do this yourself through a factory or when passing the array to the class construct.

Check out the example from the documentation:

[code]

[2020-07-17 05:59] #128 closed

[2020-07-17 06:06] brendt commented on #127
I know and I regret that, but in some cases people just kept asking for specific features.

Anyways, you're right, I hate it — just kidding.

To be fair I really appreciate you putting time and effort thinking about this idea. I realise there might be cases where this functionality is useful. But, as I'm afraid it'll be the same answer as for many others: this functionality is out of scope for thi

[2020-07-17 06:06] #127 closed

[2020-07-17 10:51] aidan-casey commented on #127
Totally get it and I think that’s reasonable. I appreciate you taking the time to review!

[2020-07-20 06:10] mfn opened #129 "phpstan and checkUninitializedProperties"
Today phpstan https://github.com/phpstan/phpstan/releases/tag/0.12.33 was released, bringing us:

This bombs on any DTO with require fields as they're detected as being un-initialized 😅

For this library this static analysis doesn't matter as a DTO with required fields will never incorrectly created.

I'm creating this issue to discuss what best practices we can provide here:
- tell people to just

[2020-07-20 06:20] mfn commented on #129
@ondrejmirtes may you can provide a recommendation? This is thanks to your latest https://github.com/phpstan/phpstan/releases/tag/0.12.33 release bringing us checkUninitializedProperties 🎉

This library here works like this, you provide:
[code]
and use it like this:
[code]

`DataTransferObject` itself will not construct the object if such properties ("required attributes") are not provided in the

[2020-07-20 07:12] mfn commented on #129
I just realized https://phpstan.org/blog/detecting-unused-private-properties-methods-constants mentions how to customize this (I skipped this initially because I was only interested in the next chapter "One more thing").

Seems there's an interface which can be implemented https://github.com/phpstan/phpstan-src/blob/587943766fbcfda7651d6728b544011dcb5063f2/src/Rules/Properties/ReadWritePropertiesE

[2020-07-20 07:24] ondrejmirtes commented on #129
@mfn You're on the right track! 👍

I don't see it on the first look either, but it looks like your code contains an infinite loop or something. You can simply write this instead:

[code]

And it should do what you want.

[2020-07-20 07:36] mfn commented on #129
@ondrejmirtes it works 😅

I thought so too about the infinite loop but you beat me in time here, thank you 🙏

One more question though, as it's not clear to me:
- for `isAlwaysRead` and `isAlwaysWritten` means simply => defer the evaluation to phpstan?
- for `isInitialized` returning false… what does it mean?

My concern is that, whilst I use the above extension to tell phpstan for certain classes

[2020-07-20 07:46] mfn commented on #129
Or to reprehase it: how does such an extension only wanting to deal with a certain of classes in the hierarchy can signal phpstan that "take care of all the others the way you usually do"?

[2020-07-20 09:30] ondrejmirtes commented on #129
Returning `false` from the extension does the same thing as if there wasn't any extension at all :)

[2020-07-21 10:14] mfn commented on #129
@brendt would you consider adding a phpstan rule with explicit support for this to the package, so projects using phpstan can directly take advantage of this? would be a "suggests" feature though, I wouldn't add a real phpstan dependency.

[2020-07-22 08:59] brendt commented on #129
Ah yes, looks like a good idea, thanks @mfn and @ondrejmirtes for looking into this!

@mfn I'm not sure what the best approach is here, should we add the rule in this package, or should we make another package and add it as a composer suggest? I'm fine with both, would love to hear your feedback!

[2020-07-22 09:50] mfn commented on #129
I did briefly think about a standalone package but … ok I'm all for "modularity" but that adds an immense amount of overhead for just a few lines of code as it is right now :)

Maybe if "more" is needed we could expand, otherwise I would first see if integration in this package can be done meaningful?

That important bit would still be that we add at least CI tests for this but we wouldn't add php

[2020-07-22 11:07] ondrejmirtes commented on #129
You could add the extension code to this repo and add `extension.neon` that enables it + add the entry to composer.json that allows it to be installed with https://github.com/phpstan/extension-installer without having to declare dependency on phpstan/phpstan in `require`, however:

1) You'd have to have `phpstan/phpstan` in `require-dev` to both being able to develop the extension + being able to

[2020-08-04 12:28] Gounlaf opened #131 "Immutable as a trait?"
Hi,

Looking at method below in `DataTransferObject` class, Inheritance is broken:

[code]

A `ImmutableDataTransferObject` class is always returned; the initial class is never.
However, using a trait might solve the problem.

I will try to provide a PR or at least a POC.

Regards,

[2020-08-04 13:54] mfn commented on #131
You mean you're using your own `ImmutableDataTransferObject`?

[2020-08-04 16:15] Gounlaf commented on #131
Not exactly. Example below should be clear:

[code]

[2020-08-04 16:37] Gounlaf commented on #131
:( Will not work for public properties

https://www.php.net/manual/en/language.oop5.overloading.php#object.set

[2020-08-10 16:09] zombietfk commented on #131
It makes sense that "Inheritance is broken" in this case. When you create an immutable version of the type, then the type is not the same and you can't use it in the same way. What if you passed the immutable version of the DTO to a class that _did_ try to mutate the object? You would not want that. Better to catch it here than at runtime IMO.

[2020-08-11 13:48] brendt commented on #131
These are the limitations of PHP, nothing to do about it.

As a sidenote, I'd say adding interfaces on DTOs should be avoided: they should represent data via their public properties, and that's about it. If you want to add methods you're probably dealing with a value object.

[2020-08-11 13:48] #131 closed

[2020-08-13 12:02] catalinux opened #132 "is there any tool that generates DTO's from json schemas?"
I could also add a feature that automatically builds the attributes from a schema (https://json-schema.org/).

_Originally posted by @deviouspk in https://github.com/spatie/data-transfer-object/issues/54#issuecomment-476396008_

[2020-08-13 13:12] brendt commented on #132
There is! https://json2dto.atymic.dev/

[2020-08-13 13:12] #132 closed

[2020-08-14 12:28] ValiDrv opened #133 "[question] Shouldn't defined PHP types take precedence over the DOC types?"
Shouldn't defined PHP types take precedence over the DOC types?

Example:
[code]

Will use the PHPDocs, ignoring what was set by PHP.
[code]

[2020-08-14 14:00] brendt commented on #133
Not as long as generics aren't supported unfortunately. Otherwise this wouldn't work:

[code]

[2020-08-14 14:00] #133 closed

[2020-08-14 21:23] hosmelq opened #134 "Questions on correct usage"
Hello

This is a question on the correct usage of this package for updating data.

I have some nullable fields in my DB and I would like to know what is the best way to pass data with a DTO without losing existing data.

In the following example, the client can send partial data, for example, if the client only sends the `name` field the `birthday` will be null and the record in the DB will be upd

[2020-08-14 23:12] mfn commented on #134
Looks good to me, that's the way I use it too.

[2020-08-16 20:32] mfn commented on #129
I created PR https://github.com/spatie/data-transfer-object/pull/135 based on https://github.com/spatie/data-transfer-object/issues/129#issuecomment-66235797 I decide to go for inclusion in this repo for now, as I'm not keen managing a dedicated package for this small amount of code.

[2020-08-17 19:52] hosmelq commented on #134
Yes @mfn, but I lose some database data as the example i mentioned.

[2020-08-17 20:01] mfn commented on #134
Sorry I don't follow.

This library is rather simple and allows to pass grouped data around and has some niceties regarding instantiating them based nested array payload structures with basic auto-type checking.

Everything else is up to the developer, how to deal with partial data, etc.

[2020-08-17 20:18] hosmelq commented on #134
Yes, I know, so this is a question, not an issue.

[2020-08-18 13:45] brendt commented on #134
If the client sends partial data, you'll have to either

- Make separate DTOs to handle those cases separately
- Manually check which fields to save, depending on whether they are nullable or not.

We've used option one, but we only have a limited set of partial DTOs, so it's manageable. If we're talking tens of fields, and every one of them could be sent or not, I don't think this package will be

[2020-08-18 13:45] #134 closed

[2020-08-19 13:27] #129 closed

[2020-08-19 13:29] brendt commented on #129
Released as 2.3.0: https://github.com/spatie/data-transfer-object/releases/tag/2.3.0

[2020-08-19 19:02] mfn commented on #129
Awesome!

Before, I had
[code]
Now => none :)

Thanks for cutting a release so quickly!

[2020-08-20 10:44] brendt commented on #129
Great!

[2020-08-31 10:02] #97 closed

[2020-09-01 14:57] sanderlissenburg opened #139 "Nested assoc key arrays with nested Dtos."
Release 2.4.0 added supported for  `@var array<string, int>`  but does this functionality also support nested DTOs like `@var array<string, \Foo\Bar\FooBar>`?

[2020-09-03 06:55] brendt commented on #139
It doesn't. Feel free to submit a tested PR if you want it supported.

[2020-09-03 06:55] #139 closed

[2020-09-06 22:43] aidan-casey commented on #116
@brendt - Would there really be anything inherently wrong with simply stating in the docs that the feature is only supported by typing the collection class and checking the return type of `current()` and `offsetGet()`? If a type cannot be found and the value passed doesn't match it, an exception could be thrown accordingly..

[2020-09-09 14:00] brendt commented on #116
@aidan-casey I agree, if we can't infer the type by looking at `current()` or `offsetGet`, let's just throw an exception.

@morrislaptop are you up for changing the PR?

[2020-09-09 14:02] morrislaptop commented on #116
Sure, one mo!

[2020-09-09 14:15] morrislaptop commented on #116
Just to confirm, the PR already throws an exception if it can't infer a type from `current`, so the changes are:

* Update from master
* Try to infer a type from offsetSet() as well

[2020-09-09 14:27] brendt commented on #116
Awesome, let's continue this converstation in the PR!

[2020-09-10 14:18] krizzdev opened #142 "Mapping property names and nested Data"
Thanks for the great package.
Is there a way to use automatic casting with other property names?
And how can I do that with nested DTO's

Example:

API sends:
[code]

OrderData:

[code]

Currently I have added another static method to the Customer DTO:

[code]

because I need to rename some properties from the external data.

Now I'm struggling with the items because the Order Data can have multip

[2020-09-10 15:21] mfn commented on #142
Seems easiest to map the names from the API as is first into the DTOs and then use some other means?

[2020-09-10 16:09] mfn commented on #142
Yes, that's what I'm basically saying.

The goal of the DTO is to map 1:1 to the payload.

Of course you can use the constructor and _change_ the things the way you see fit. For example there APIs have json keys like `foo:bar:baz` which won't work without that.

But otherwise I would not bother much and transform this _outside_ the DTO.

The philosophy of this library is to be lean and not contain

[2020-09-10 16:35] krizzdev commented on #142
Okay thanks for your explanation. I appreciate that :) Then I will go for the 1:1 names and do the renaming on the Action level. Thank you.

[2020-09-10 16:35] #142 closed

[2020-09-24 10:35] bastien-phi opened #144 "[Proposal] Add class-based factories for DTO"
I often use fake dto in my tests and love Laravel 8 model factories.

I finally came up with writing a base factory for data transfer objects (based on Laravel 8 factories).

I wonder if this could be added to this package. My main concern is the fact that the package does not have any dependency but adding the factory feature would imply adding `fzaninotto/faker` as a dependency.

Let me know wha

[2020-09-29 13:30] brendt commented on #144
I'm actually working on a separate laravel-specific DTO pacakge; there's no ETA but I'll make sure to look into supporting it.

From what I gathered, L8's class based factories only work with models, isn't that the case?

[2020-09-29 13:30] #144 closed

[2020-09-29 13:57] bastien-phi commented on #144
Actually yes, L8's factories only work with models. But with litle tweaks, we can keep a very similar api and provide class based DTO factories.

The only problem is we have to copy-paste L8's factories and edit it to have a nice DTOFactory. If any new feature comes in Laravel, the DTOFactory won't have it automatically. Let me know if you want to see what changes need to be made.

It's nice to kn

[2020-09-29 23:14] talovicnedim opened #145 "Encapsulate API response when there is a hyphen"
Hi @brendt,

First of all, I want to say thanks for creating such a great package. Extremely helpful in our app.

I have a question regarding encapsulating response from REST API. For example, we use Mailgun and we would like to fetch a message ID.

If you take a look at the response structure (https://documentation.mailgun.com/en/latest/api-events.html#event-structure), you will see that they hav

[2020-09-30 09:53] mfn commented on #145
You have to do this on your own: either before you pass it to the DTO or you can do it in the constructor.

I faced similar things with e.g. the Linkedin API which uses `:` in their keys 🤷‍♀️

[2020-09-30 12:09] talovicnedim commented on #145
@mfn thanks for the suggestion! I added it the constructor of item and works great.

Here's a short example if someone needs it:

[code]

[2020-09-30 12:09] #145 closed

[2020-09-30 12:58] mfn commented on #145
I would suggest to only transform the incompatible keys and let the rest by done by the DTO: this makes it easier in the future to expand properties which don't have problem:
[code]
This can be pretty terse because you're using the `Flexible*` one which ignores untyped props. I love that one, btw 😄

If you've many DTOs and this is a often re-curring pattern, you could also call some utility functi

[2020-09-30 14:41] talovicnedim commented on #145
Many thanks, this is even better! 😄

[2020-10-01 10:01] #93 closed

[2020-10-02 10:40] ragulka opened #146 "Cast to class when constructor is private?"
I stumbled upon an issue when trying to use `BigDecimal` from https://github.com/brick/math:

[code]

The issue seems to be that [BigDecimal constructor is private](https://github.com/brick/math#instantiation), which is what `ValueCaster` is [trying to use](https://github.com/spatie/data-transfer-object/blob/master/src/ValueCaster.php#L32).

I'd have to cast to `BigDecimal` using a factory: `BigDe

[2020-10-02 11:34] ragulka commented on #146
Hmm, perhaps I have misunderstood what this library offers... my initial understanding was that when given an array of values, the DTO would try to cast the given values to types declared on the object. However, going through the code it seems that it will only try to cast array values, which only seems to be intended for casting nested DTOs.

I was hoping I could just throw my input to the DTO, w

[2020-10-02 19:03] mfn commented on #146
Hmm, no it expects the type to be matches. Aka string. That's the point of the library, no casting.

However

I had the same beef with e.g. Carbon: I know a certain field, when it's a string, I want it to be represented via https://github.com/briannesbitt/Carbon/

I still use the approach outlined in https://github.com/spatie/data-transfer-object/issues/121#issuecomment-642863130 as https://github

[2020-10-06 12:44] brendt commented on #146
I'll revisit custom casts when we add support for PHP 8 :)

[2020-10-06 12:44] #146 closed

[2020-10-10 19:22] shahruslan opened #147 "Add Arrayable interface"
I suggest adding an `Arrayable` interface to the `DataTransferObject` class. Then it can be returned immediately in the controller.

[2020-10-12 03:39] mfn commented on #147
This package has no Laravel dependency and thus it wouldn't make sense to pull in illuminate/contracts for such a thing.

[2020-10-12 05:11] shahruslan commented on #147
Then that's right )

[2020-10-21 10:36] sandervanhooft commented on #93
@morrislaptop how is that "DTO as event" approach working for you?

[2020-10-22 11:42] morrislaptop commented on #93
@sandervanhooft @rogervila working well... i ended up dropping down to the symfony serializer package, here's what I've got..

[code]

[2020-11-16 19:23] aidan-casey opened #148 "Data Transfer Object Factory - external tool?"
Hey there! We built [this](https://github.com/Anteris-Dev/data-transfer-object-factory) package that generates DTOs based on their definition. It utilizes ReflectionClass and and phpDocumentor's doc block parser to determine a property's type and faker to generate a value for that property. If a property does not have a type assigned, it will have a random type generated.

Wondering if this might

[2020-11-17 07:05] mfn commented on #148
(disclaimer: Not the maintainer) but I think absolutely yes, sounds very cool. I would just make a PR to accelerate the process ;-)

[2020-11-17 20:40] aidan-casey commented on #148
Probably not a bad suggestion. I'll get on that.

[2020-11-19 05:05] #148 closed

[2020-11-20 08:25] brendt opened #151 "V3 brainstorm"
# V3 brainstorm

When this package started, it was meant to solve four problems:

- Runtime type checks for class properties
- Support for union types
- Support for array types (these are not full blown generics!)
- Named arguments

Typed properties are added in PHP 7.4, and union types and named arguments in PHP 8. So now that PHP 8 GA is around the corner, it's time to think what should and shou

[2020-11-20 08:55] mfn commented on #151
I followed PHP8 but was not aware that you could do this, i.e. the arguments actually don't need to be featured in the constructor and using `func_get_args()` (I presume) you basically have a (slightly) shorted version to write a hash? 🤷‍♀️

[2020-11-20 08:56] mfn commented on #151
Ok, no doesn't work, must be missing something? => https://3v4l.org/oXnjd
[code]
PHP 8:
[code]

[2020-11-20 08:58] brendt commented on #151
You can use this syntax:

[code]

[2020-11-20 09:00] brendt commented on #151
Though `func_get_args` should work according to the RFC. I'll check with internals.

[2020-11-20 14:36] iamniels commented on #151
Hi Brendt, great work!

The last couple of weeks I've been thinking about a combination of a FormRequest and a DTO. For a form/ API call now I need to define the attributes twice, once in the FormRequest and once in the DTO. Would it be possible to combine these two classes without creating a mess? I imagine this would be a DTO which supports validation rules.

[2020-11-20 14:58] JosephLeedy commented on #151
Hello Brendt, thank you for all of your hard work on this project! I agree with all of your points. Something that I'd definitely like to see added, as well, is support for the Spatie Enum package. I sometimes have APIs with fields that use specific values, so having an ENUM for them would help ensure the correct value is provided.

[2020-11-20 16:31] jdart commented on #151
When talking about arrays, are you referring to lists, or key-value pairs, or both?

[2020-11-20 16:31] aidan-casey commented on #151
@brendt - First of all, thank you for all the work you have put into this package. It has been very useful for our team once we fully got our heads around using it appropriately.

Now, I never would have said this when I first started using data transfer objects, but I'm just not sure that the features described above are within the scope of this package. DTOs are intended to contain / represent t

[2020-11-21 05:44] ValiDrv commented on #151
I would add a few things:

#1 cache the reflection data the first time as object is used. That way, loops/long running process will speed up quite alot.

#2 for string/int public properties, add some extra metadata with some validation rules, example.

#[validate([a-z]+): error message]
#[validate(Validator:: CONSTANT)]
#[validate(Validator::custom_rule())]

#3 if you ever add arrays, add some val

[2020-11-23 04:41] brendt commented on #151
@iamniels handling form requests won't be be within the scope of this package. Having used DTOs all over the place for the past two years, I know that — at least in my projects — DTO type checks and request validation aren't the same. DTOs are about correctly typed data, while request validation encapsulates much more business logic.

@JosephLeedy I agree, I'm not sure whether we could ship a buil

[2020-11-23 04:48] brendt commented on #151
@aidan-casey you're right saying that. Still I think it's better to continue with this package instead of creating a new one. This package is at ±750k downloads, and we don't want to bother our users with requiring a new package. I think the official description of v3 should be "a package that helps constructing DTOs in a pleasant manner". So I'd say `spatie/data-transfer-object` is still an accur

[2020-11-23 04:52] brendt commented on #151
@ValiDrv This already happens: https://github.com/spatie/data-transfer-object/blob/master/src/DataTransferObject.php#L183 but I'll definitely also add it in the new version

A few people have suggested this. Honestly I think it's a rabbit hole, because there are lots of possible validation rules, this package can't support all of them. What we could do is add some kind of generic validation attrib

[2020-11-23 12:14] Gummibeer commented on #151
I agree with @aidan-casey and disagree with @brendt response.

Validating and casting is simply not the scope of a DTO. It's part of a validator, caster and should be DTO unaware/unspecific. Like Laravel Validator and custom Casts. The classes and interfaces are used by Form request and Eloquent Model but are not bound to them. You could for example simply use these classes to get DTOs validated &

[2020-11-23 15:00] JosephLeedy commented on #151
@brendt Thanks for the response! With regards to the Enum package, I think that separate bridge library, as you suggested, would be the best way to avoid defining a hard dependency on it.

With regards to validation, while it would be a nice feature to have, I agree that it would be out of the scope of this package. It _would_, however, be nice if there was a separate package to accompany this one

[2020-11-23 15:51] Gummibeer commented on #151
@JosephLeedy what would you expect the Enum bridge to do? In fact the enum is instantiated by `Enum::make($value)` - am I right that you would want a method/cast that enforces an enum instance?
As the Laravel wrapper provides:
https://github.com/spatie/laravel-enum/blob/006fe3b00cf8ba82ec41ca4511bb2612b9867a12/src/Casts/Cast.php#L29-L49

I have 2 points:
1) a dedicated only for this method -too mu

[2020-11-23 17:24] aidan-casey commented on #151
@Gummibeer - It seems like the only benefit to that approach would be its implementing of interfaces like `Jsonable`, `ArrayAccess`, and `Stringable` and is that so sought after that it is worth the package? If I am looking for that validation piece, why wouldn't I just create my own base DTO the contains that logic on construct?

It still feels like beating a dead horse to me.

[2020-11-23 17:54] Gummibeer commented on #151
@aidan-casey sorry if that was wrongly phrased: I'm still and definitely on the "drop this package" side!
The last idea was only for the case this package will stay alive. One benefit of this would be something like a standard - like we did for the enum package.
It's not this much logic - but having a standard/interface makes things interchangeable.
And primary `ArrayAccess` and `Jsonable` isn't t

[2020-11-24 04:30] brendt commented on #151
@Gummibeer this is a constructor's purpose, in my opinion. I see why you'd suggest the `booting` and `booted` methods, I'd consider it but I don't think they'd be actually used.

To be honest, nothing in this package has ever been in the scope of DTOs, but we had to call it something. All it ever did were these things:

- Extra runtime type checks based on doc blocks: not what DTOs are about
- A s

[2020-11-24 04:39] brendt commented on #151
Let me add an example btw of what I think the new version would look like, maybe it would change anyone's mind 👍

[code]

A few remarks:

- `NumberBetween` would be a user-implemented validation rule. This package wouldn't become a validation library, but would only offer hooks to be able to write validators yourself.
- Both named arguments and arrays can be used to construct a DTO
- DTOs and DTOC

[2020-11-24 06:58] naneri commented on #119
@mfn I don't get, if I have an array with few entity data, where do I pass it?
Does not work when I am passing it to the create() method.

[2020-11-24 08:26] mfn commented on #151
What be nice to have a way to define this for classes we don't control; think about `DateTimeImmutable` or `Carbon\CarbonImmutable`, etc so I don't have to specify this everywhere I use such an attribute.

A property `CastWith` with still be authoritative.

[2020-11-24 09:02] brendt commented on #151
That's a good idea, I'll think about an implementation.

[2020-11-24 11:27] Gummibeer commented on #151
@brendt how about an attribute on a base DTO class like `#[CastUsing(DateTime::class, DateTimeCaster::class)]`? 🤔

And regarding the scope of this package - I think that a real list of features/classes/interfaces would help a lot!
From what I see in your example code I would be fine. A feature I would like is any kind of flag that will simply skip the custom behavior. In best case a runtime flag s

[2020-11-24 11:34] brendt commented on #151
I think I do. Are there use cases where you want both behaviours on the same class? I figure you'd opt for not extending from the DTO class if you don't want the behaviour?

[2020-11-24 11:35] brendt commented on #151
I'll work on an updated version of the README and send a PR, that's the best way to visualize the changes I believe.

[2020-11-24 11:42] Gummibeer commented on #151
I think about cases like:

[code]

This code is super reduced - but I have several cases when data comes from different sources, through different pipelines but ends in the same DTO. An `Address` DTO for example. If I fill it from my DB I don't have to validate/cast it anymore, same if I get the data from a request which is already validated.
But if I get the data from an API, Here or Google Maps,

[2020-11-24 11:57] brendt commented on #151
FYI here are some examples: https://github.com/spatie/data-transfer-object/blob/v3/README.md

[2020-11-24 14:04] ValiDrv commented on #151
I have a few suggestions (based on a few modifications we had in-house):

#1 Should have a way to validate collections also, for those simple list ones.

[code]

#2 Maybe to simplify things, why not let the validation function return `true`/`false`, and throw an `exception` if it needs to send a custom message? That way, you can use normal PHP functions in there also, which throw exceptions if the

[2020-11-25 03:42] jessarcher commented on #151
I would still appreciate the casting functionality, even within a Laravel application, as I don't think it's really a clone. I think it still has value when dealing with JSON columns, particularly with nested objects.

I recently created https://github.com/jessarcher/laravel-castable-data-transfer-object which combines this package with Laravel's Castable interface to automatically cast between a

[2020-12-03 09:12] unknownuser88 opened #153 "TypeError on php8 union types"
[code]
[code]
error:
[code]

[2020-12-03 09:15] mfn commented on #153
This is a known issue, please join the discussion at https://github.com/spatie/data-transfer-object/issues/151

[2020-12-03 14:20] morrislaptop commented on #93
@brendt @rogervila I've written a DataTransferObjectNormalizer which can be added in config thanks to https://github.com/spatie/laravel-event-sourcing/pull/153

Not sure if this should be PR'd to laravel-event-sourcing or data-transfer-object or just a separate package?

Basic implementation is below...

[code]

[2020-12-08 04:38] brendt commented on #93
I'm not sure this should be a package. Since the ES package is extensible enough, I think it's best to solve these problems on a project-based level. Also keep in mind that you probably don't need to use DTOs anymore if you're using PHP 8.

[2020-12-14 05:08] brendt commented on #153
Feel free to send a tested PR to fix this in v2; v3 will only support PHP 8 so it won't be a problem there anymore.

[2020-12-14 05:08] #153 closed

[2020-12-14 20:54] emreakay opened #154 "property types for php unioun types not supported?"
[code]

[code]

is not working.

[2020-12-15 15:48] mfn commented on #154
Duplicate of https://github.com/spatie/data-transfer-object/issues/153 , see the answer there please.

[2020-12-17 05:10] #154 closed

[2020-12-17 14:54] emreakay commented on #154
thanks

[2020-12-17 16:04] crissi opened #155 "static analysis does not seems to catch mistypings on collection"
`<?php
    namespace App\Services\Service;

    use Spatie\DataTransferObject\DataTransferObjectCollection;

    class ParticipantCollection extends DataTransferObjectCollection
    {
        public function current(): ParticipantObject
        {
            return parent::current();
        }

        public static function create(array $data): ParticipantCollection
        {
            return n

[2020-12-18 04:57] brendt commented on #155
That sounds more like a question for phpstan than for us, as far as I know it should be able to catch it by correctly implementing the return type of `current`, which you did.

[2020-12-18 04:57] #155 closed

[2020-12-23 18:25] DanielSchetritt commented on #151
I would love the ability to be able to use a callback function for casting.

For example, if I want to cast an assoc array that represents a fixed-point decimal number as a php float type:
[code]

[2020-12-28 14:42] aidan-casey commented on #151
I was thinking about the DTO collections the other day. I am wondering if it may be a good idea to pull an idea out of the book of the [Ramsey Collection](https://github.com/ramsey/collection) package. When constructing a collection, the first parameter has to be a string representation of the FQDN of the class the collection is for. This allows it to do type validation on anything added to the co

[2020-12-28 14:45] aidan-casey commented on #151
Also @brendt, any plans to dump the chosen features into a project or issues with milestones so we can assist as ideas are firmed up?

[2020-12-31 09:14] Albvadi opened #157 "Autocompletion with Laravel Collections"
Hi,
I know this is not the right place for this question, but maybe you as expert developers who are used to working with this package together with Laravel Collections, know some way to solve it ...

Your `DataTransferObjectCollection` is fine for something simple like iterations and the IDE recognizes the object type and offers autocompletion.

![image](https://user-images.githubusercontent.com/

[2020-12-31 13:28] shalvah opened #158 "Automatically cast arrays to DTOs when creating collection."
Hi, thanks for this package. Gets rid of a lot of boilerplate.

My current problem: I have DTOs like this:

[code]

I was kinda expecting that I could this would automatically cast each array to a `Response` object:

[code]

It makes sense, since the base DTO already lets you create a DTO from an array. Had to override the constructor to get that to work (but now I need to do it for all my DTOs):

[2020-12-31 13:39] shalvah commented on #158
Welp, just noticed the `arrayOf` method that can help with this. But I think it would be nice to have that behaviour as default in the future. I don't see any real downsides.

[2021-01-04 11:23] mfn commented on #157
Maybe I miss understood it but the points given in https://github.com/spatie/data-transfer-object#working-with-collections should still apply? 🤔

[2021-01-05 22:52] maxacarvalho commented on #75
@brendt sorry to comment on this issue again but as far as I understood, the below should be working, but I'm getting an exception instead
`TypeError: Typed property App/Services/Shlink/ShortUrlDTO::$meta must be an instance of App/Services/Shlink/ShortUrlMetaDTO, Spatie/DataTransferObject/ImmutableDataTransferObject used`

Here are my two DTOs

[code]

[code]

Thanks!

[2021-01-11 05:37] brendt commented on #75
Feel free to submit a PR with a failing test that should work, I'll take it from there. If you want to you can also submit a PR with the solution :)

[2021-01-11 11:02] #116 closed

[2021-01-13 12:28] brendt commented on #158
Does this PR solve your problem? https://github.com/spatie/data-transfer-object/pull/117

[2021-01-13 12:30] brendt commented on #157
You're free to make your own collection classes extending from laravel's collection class and use them as type hints. The provided DTO collection class is just a shorthand for simple use cases.

[2021-01-13 12:30] #157 closed

[2021-01-13 12:35] brendt commented on #151
It's somewhat a replacement for a problem that generics would solve. The issue with it is that there's only runtime type validation. Static analysers won't be able to tell what's in the collection. Especially with the focus shift towards static analysis in v3, I don't think it would add much  value.

Yes, I'll work on this the coming weeks. Feel free to comment on https://github.com/spatie/data-tr

[2021-01-14 09:26] shalvah commented on #158
Yes, I think so.

[2021-01-14 09:26] #158 closed

[2021-01-15 14:26] madsem opened #160 "Undefined offset when dispatching DataTransferCollection to Jobs"
Heyho,

I am unsure what I'm reporting here, why this even happens, if this is a bug or user error :)

Let me try to lay it out:

I have a job which makes a bigger query, with joins etc. The results are pulled as a Lazy Collection via `cursor()`.
Then `chunk(100)` and an `each()` that builds a `Spatie\DataTransferObject\DataTransferObjectCollection` from the chunk.

This chunk is then dispatched,

[2021-01-20 19:45] Rezrazi commented on #134
Sorry for bumping this issue, I was just looking to share a way I found to update a model taking into account omitted or unchanged attributes.

This can be done by creating an array of omitted attributes, right before triggering the `$model->update()` method.

_Note_ that I wrote this as an `Action` which are callable classes with a single static function that our codebase uses, however you can go

[2021-01-21 13:53] brendt commented on #160
Strange indeed. If you're willing to look further into it and narrow it down, I'm fine with fixing it. But you should submit a PR with a failing test to do so, I'm don't think I'll personally look into this, since it's such an edge case.

[2021-01-21 13:53] #160 closed

[2021-01-23 23:19] morrislaptop opened #161 "Possibility to use DocBlock for arrays without FQCN"
If we were to use `Symfony\Component\PropertyInfo\Extractor\PhpDocExtractor` we wouldn't have to use a FQCN in docblock comments.

Would you be interested in a PR?

[2021-01-26 19:17] mfn commented on #161
See https://github.com/spatie/data-transfer-object/pull/14 , there was an attempt and discussion but the add complexity also due to necessity for caching was a factor for not proceeding (at that time, anyway).

[2021-01-26 19:21] morrislaptop commented on #161
Ah I see, maybe the symfony package does this in a smarter way with caching included?

[2021-01-28 04:42] brendt commented on #161
I don't think it's worth adding this feature, since it goes against docblock standards, adds complexity and because most types can already be represented with built-in types. We're also going to drop docblock type check altogether in the next major.

[2021-01-28 04:42] #161 closed

[2021-01-28 04:54] morrislaptop commented on #161
No problem. What’s the plan for typing arrays in the next major without
docblock support? Always use collection classes?

On Thu, 28 Jan 2021 at 04:43, Brent Roose <notifications@github.com> wrote:

[2021-01-28 07:52] brendt commented on #161
The ideas are outlined here: https://github.com/spatie/data-transfer-object/issues/151

tl;dr: focus on static analysis instead of runtime type checks.

[2021-01-28 11:42] fourstacks opened #162 "v2.7.0 causes breaking change"
Hi

We just had our production app go down for a bit due to a change introduced in 2.7.0.  I was hoping you might be able to shed some light on why the exception was thrown?

The exception was:

`Collection class `App\Domain\Quotes\DataTransferObjects\ItemCollection` has no defined array type.`

Our `ItemCollection` DTO looks like this:

[code]

The context in which this DTO is used looks like thi

[2021-01-28 13:18] brendt commented on #162
@fourstacks I'm sorry for the inconvenience! The package assume you're always type hinting the return type of the current method of DTO collections as described here: https://github.com/spatie/data-transfer-object#working-with-collections

It's true that prior to 2.7.0 no exception was thrown, but that was more due to an oversight on our part that only became clear when adding the new feature in 2

[2021-01-28 13:18] #162 closed

[2021-01-28 14:23] fourstacks commented on #162
Hey @brendt!  Thanks for the explanation, I'll update those collection DTOs accordingly.

No worries about the downtime - it was a bit of a hairy 30 mins but that's on me for not having got around to sorting out any CI since we moved the app to Vapor - that's now a bit higher up my list of priorities!  Thanks again for all your work on this package (and the 3 billion others Spatie have produced).

[2021-02-04 21:28] rusowyler opened #163 "Wrong return type in data-transfer-object/src/FieldValidator.php"
Hi guys in getCurrentReturnTypesFromDocblock (line 185) you expect and array as return value:

`    private function getCurrentReturnTypesFromDocblock(string $definition): array
`

and on line 197 you may return null:

` if (! $type) {
            return null;
        }`

so if if there is doc block and no math to the preg_match it will throw a exception!

You should probably replace: return null;

[2021-02-07 20:40] DonCleanCode opened #165 "DataTransferObjectCollection "has no defined array type""
Since the last update (2.8.0) all my Collections break with
"Spatie\DataTransferObject\DataTransferObjectError: Collection class `xxx\SampleCollection` **has no defined array type**",
no matter what kind of type it's instantiated. Before I could add DTOs and arrays, now nothing.

[2021-02-08 07:11] mfn commented on #165
Please see https://github.com/spatie/data-transfer-object/issues/162

[2021-02-10 12:18] brendt commented on #163
Feel free to submit a PR fixing this issue!

[2021-02-10 12:18] brendt commented on #163
Oh, you already did; thanks!

[2021-02-10 12:18] #163 closed

[2021-02-16 11:25] pikant opened #167 "Automatic casting of nullable nested array DTOs"
I work with the Shopify API, which has the special feature that you can use a `fields` parameter with every GET request to specify which fields should be included in the response. This procedure is intended to save data volume.

This results in the specialty that I have to make all fields of my DTOs nullable. This also works so far, only with nested arrays (see https://github.com/spatie/data-trans

[2021-02-16 13:59] mfn commented on #167
Is it a problem with contradicting phpdoc? phpdoc does not say it's nullable and I think it has higher precedence if present?

[2021-02-16 14:21] pikant commented on #167
Thanks for the quick answer. Indeed I tried a trailing ' | null' in the phpdoc. However, I just realized, that it only works without the whitespaces. Is this a phpdoc constraint?

[2021-02-16 14:27] pikant commented on #167
I also updated this change in my PR and renamed it also. Only in case you want to include the tests in the code: https://github.com/spatie/data-transfer-object/pull/168

This issue here can be closed.

Many Thanks!

[2021-02-16 21:49] mfn commented on #167
Never ever have I see these whitespaces phpdoc in all the years. I actually thought this was a freak copy paste mistake on your part:
[code]
So yes, I would not expected this to work. Especially since the "magic marker" has to be `/**` (almost "IMHO definitely") to work etc.

But yes, I see that the "real" `use` statement does not care about whitespaces, probably also due to "namespace grouping" a

[2021-02-17 07:27] pikant commented on #167
Yes, that was an unfortunate coincidence: My text editor created this inappropriate whitespaced. I hadn't focused that much on this code snippet as I actually provided a PR demonstrating the behavior. However, I actually had a white space in front of the pipe (` | null`) that crashed it.

The error message that comes up when working with the one whitespace in around the pipe confused me very much:

[2021-02-17 17:45] blabs-dev opened #169 "DataTransferColection troubles"
Hi, I guess this is not a proper **issue**, I don't know where to address it, so feel free to delete it if you believe that is inappropriate

I'm having troubles to build a DataTrasnferCollection from a JSON request in Laravel 6.x

## Main builder class
[code]

## Collection Class
[code]
Here I've also tryed to create the collection with a mapper that uses the `MaterialData::from()` method

[code]

[2021-02-18 07:34] mfn commented on #169
No error, nothing else? The collection is always empty?

Use your favourite debugger, what  does the value in `MaterialCollection::create()` receive? I suggest to step through to see it.

Also try to see if it works without `$request`, just provide the plain array with the decoded json.

If you still can't get it work, create a public minimal repo to reproduce this; ideally without the Laravel dep

[2021-02-18 07:56] blabs-dev commented on #169
Already done that, the method receives an array as supposed.
Proof that everything is fine is that if I remove the `MaterialCollection` type from `materials` and replace it with `array` it works returing an array of nested items

Unfortunally now I'm on a rush to close this task, so I believe that for now I'll commit the code using arrays and I'll fix it later when I'll have more time to debug it.

[2021-02-19 10:50] brendt commented on #169
Have you tried not using `arrayOf` and manually constructing the DTOs individually? I've never used `arrayOf` myself and there might be a bug that we're unaware of. I'm going to close this issue for now but feel free to reopen it if something new comes up.

[2021-02-19 10:50] #169 closed

[2021-02-19 10:53] #167 closed

[2021-02-19 10:53] #165 closed

[2021-03-01 13:51] pepijn-de-wachter commented on #75
I was able to reproduce this today with a slightly different setup
in my case I'm using typecheck by docblock on the main DTO
also, the nested DTO was being manually constructed in the main DTO's constructor,
the constructor of the nested DTO specifically returned a `self::immutable()`

I fixed this by adding a flag to my nested DTO's constructor to allow for mutable construction

I won't be able

[2021-03-02 04:29] brendt commented on #75
No pressure, thanks for looking into it!

[2021-03-04 07:23] Moskito89 opened #171 "Question about bad formed properties"
Hey guys,

I have problems with some kind of bad named properties. The JSON looks like that:

[code]

The problem is that PHP can't have a variable name with a dash in it (`image/jpeg`), so a `DataTransferObjectError` Exception is getting thrown saying that this public property doesn't exist.

My question is now: How can I solve that? Is there a solution to handle that kind of bad property name? M

[2021-03-04 08:27] brendt commented on #171
The only solution I can think of is to manually prepare your data before passing it to the DTO. I personally never make use of creating DTOs from arrays on the fly to prevent these kinds of issues.

[2021-03-04 08:27] #171 closed

[2021-03-04 09:08] Moskito89 commented on #171
Thanks for your suggestion, that helps! 👍

[2021-03-04 10:44] eebanos commented on #75
Can you show me how you did it???

[2021-03-04 17:17] pepijn-de-wachter commented on #75
I have custom constructors for all my DTO's, so in this case for this DTO that is sometimes nested, sometimes not nested, I could add a bool to the constructor input and return an instance of self when I want a non-immutable version, which the parent DTO will then convert to an immutable one
you can set the default value of the bool to true for safety, or set it to whichever version is the most co

[2021-03-05 10:14] CiiDyR commented on #34
Pretty late to the party, but is this even possible with any currently available PHP version?
We'd love to use DTOs for our PATCH requests but since optional parameters will always be null, that limits us in terms of what we can represent.
To properly leverage `uninitialized` this would have to be valid (using php 8.0):

[code]

Our current approach would be to have a Stub class called `UndefinedV

[2021-03-10 11:02] wedi commented on #151
@brendt I like the direction of v3!
I found your PR draft https://github.com/spatie/data-transfer-object/pull/159/ and was wondering what the status of this early version is. Could you give a short update?

[2021-03-10 12:44] brendt commented on #151
It's on my todo list but there are a few other packages I'm working on first 😅 so don't expect this to land in the coming weeks. But I haven't forgotten about it!

[2021-03-11 11:11] Jurigag opened #172 "Support except for nested DTO"
When using except key for method `DataTransferObject::except()` as `something.key`, where something is another `DataTransferObject` it won'y work.

https://github.com/spatie/data-transfer-object/blob/master/src/Arr.php#L42

Here when $array[$part] is other DataTransferObject, we could use condition like:

[code]

[2021-03-15 04:07] vanthao03596 opened #173 "[Question] Can we use DTO to return response like api resources ?"
Thanks for geat package.
Is there any way to use DTO and return api response ?

[2021-03-15 04:29] vanthao03596 commented on #151
Can we add feature to map DTOA to DTOB with convention key from camelcase to snakekey like [nartc/mapper](https://automapperts.netlify.app/docs/getting-started/introduce-to-automapper).

[2021-03-15 06:26] mfn commented on #173
Crafting actual API responses is outside the scope of this package.

You can call `toArray()` right before you send back the data.

[2021-03-15 10:21] vanthao03596 commented on #173
@mfn thank you for suggestion.

[2021-03-16 14:34] #173 closed

[2021-03-17 03:35] laxity7 opened #174 "Error in field validator"
In my company everyone writes simple comments in single line, for example:

[code]

in this case I will get an invalid allowed type

![image](https://user-images.githubusercontent.com/6792144/111410300-87df6a80-86e9-11eb-932d-65364b60bd47.png)

And i have error:
[code]
An error in the regular expression that parses docblocks.

Do you think this is a bug that should be corrected?

[2021-03-17 10:52] brendt commented on #174
The next major version of this package won't parse docblocks anymore but solely rely on typehints.

[2021-03-17 10:52] #174 closed

[2021-03-17 10:52] mfn commented on #174
Looks like a bug to me

As a workaround, can you try:
[code]
i.e. separate them.

I assume you're < 7.4? otherwise you could just write `public int $some`

[2021-03-19 08:38] brendt commented on #172
Feel free to submit a PR with tests, it's unclear to me from this issue what the exact problem is. Thanks.

[2021-03-19 08:38] #172 closed

[2021-03-24 07:46] olivernybroe commented on #151
Hi, just wanted to share what our company did as our solution for DTO's with PHP8, we have been using it for about 3 months and are pretty happy with it.

We use named arguments and property promotion.
Biggest waste is prob. our usage of accessors.

We then have static methods for easy building of the DTO from a request, as we use GQL also, we sometimes also have a `fromGraphQl` method also.

<det

[2021-03-24 09:47] Gummibeer commented on #151
@olivernybroe you could replace all these accessors with public properties and `@psalm-readonly` annotation if you use psalm.
Alternatively you can use a `__call()` or `__get()` magic method to automatically access all the protected properties.

[2021-03-24 09:56] Gummibeer commented on #151
Yeah, the first works only if you use a static analyzer. Which will be even better than PHP exploding.
But was just feedback - I think that the magic way would be the only relevant for this package - if it proceeds. But as you showed - DTOs with PHP8 are that simple that this package would be more about casting and other features than DTOs.

[2021-03-25 11:05] brendt commented on #151
FYI I added the last pending feature: the ability to configure default casts on a DTO level. Here's the PR: https://github.com/spatie/data-transfer-object/pull/159

[2021-03-25 11:05] brendt commented on #151
We'll discuss all furthers things in the PR

[2021-03-25 11:05] #151 closed

[2021-04-02 05:12] bastien-phi commented on #144
Hi @brendt !

I just saw the 3.0 release. Congrats ! Really looking forward to use it !

It remembered me that DTO factory stuff. Is there still a plan for a laravel specific package or could I propose a PR for adding this in this package ?

[2021-04-02 06:16] mfn commented on #144
This package has nothing to do with Laravel and thus, forgive me answering instead of Brendt, never will have Laravel specific parts.

There's an external tools section: https://github.com/spatie/data-transfer-object#external-tools

And in general the library is open to changes to support integration etc.

[2021-04-02 06:19] bastien-phi commented on #144
I totally understand.

My point here is not to bring some Laravel specific parts but to implement a DTO Factory *inspired* by the Laravel model factories.

[2021-04-02 07:32] brendt commented on #144
I'm still a little on the fence about this one… That's because I find very little value in Laravel factories compared to building your own (without any abstractions). In fact, I think using simple classes as factories are better since you don't have to worry about the magic happening behind the scenes, and thus not running into issues with static analysis.

Nevertheless, I'm curious what kind of f

[2021-04-02 07:57] bastien-phi commented on #144
Basically, I would use DTO factories to unit test my actions for example.

From real project :
[code]
and in the test
[code]

This case is maybe a little bit extreme but I think here the factory has some value.

[2021-04-02 16:55] sidigi opened #179 "MissingDataTransferObject"
Partial usage

idea from this https://github.com/spatie/data-transfer-object/issues/134#issuecomment-675487572

Make it like in laravel Api Resources (MissingValue)

What about values, which was not found in update data transfer object?

[code]

[code]

[code]

[code]

[code]
[code]

[2021-04-03 04:28] JuanE opened #180 "Collections in v3"
How would one go about using collections in v3, now that DataTransferObjectCollection class was removed?
I understand that collections are still supported in a way but looking through the documentation I can't find an example of a collection class.
Any help would be appreciated.

[2021-04-03 09:06] sidigi commented on #180
I think it needs examples in documentation for auto casting to collection of objects

[2021-04-05 03:31] brendt commented on #180
There's no built-in collection support anymore. If you want your own collection classes, you'll have to implement them you'll have to implement `\ArrayAccess` and `\Iterable` and build your own. Since runtime type validation is outside the scope of this package, it doesn't make sense to add a collection class.

My recommendation would be to typehint using an "array of docblock" and to use a static

[2021-04-05 03:31] #180 closed

[2021-04-06 04:51] brendt commented on #144
Does your IDE or static analyser knows the exact type of the result from `EmployeeDTOFactory::times(5)->present()->genuineContract()->woman()->pregnancy()->raisedDuringPregnancy()->make()` ? Does it know it's an EmployeeDTO object?

[2021-04-06 06:41] bastien-phi commented on #144
Well, it knows thanks to a docblock

[code]
We can imagine any api here :
- `makeOne` to make single DTO, and `make` to make one or many
- `makeOne` and `make` enforcing make returning an array of DTO
- `make` (single instance) and `makeMany` (multiple instances)
- ...

Creating multiple instance could return an array or something else but I'm not sure adding a dependency for that would be great

[2021-04-06 08:02] mariomka commented on #180
But, it seems that v3 doesn't longer support array @var annotations like:

[code]

It doesn't cast the array items.

[2021-04-06 08:04] jamesRUS52 opened #181 "Collection in v3"
Hello

How should I use collection in v3 ?

[code]

Can you give me example of OtherDTOCollection class ?

[2021-04-06 08:08] mariomka commented on #181
See #180

[2021-04-06 10:53] sidigi commented on #181
Make example in docs) Otherwise many people will ask about it)

[2021-04-06 11:33] brendt commented on #180
That's right, but you can create a caster for that yourself. You'd have to write it like so

[code]

[2021-04-06 18:25] madsem opened #182 "PhpUnit test results in DataTransferObjectError but dumping reveals it's all set"
Hi,

weird issue here. I am receiving data from JS `navigator.sendBeacon` on a controller in my app.
The controller does some super light validation, then hands over the request data to a DTO, which in turn is then dispatched to a Job...

This DTO now throws a `DataTransferObjectError` with the following:
[code]

But when I don't dispatch the DTO, there is no error... uh?

My Controller:
[code]

T

[2021-04-07 04:13] brendt commented on #181
Feel free to send a PR to the README

[2021-04-07 04:14] #181 closed

[2021-04-07 06:57] jamesRUS52 commented on #181
It's not clear at all. Improve the docs and tests with collections pls.
It's too hard to migrate to v3, I have to change signature in all methods with SomeCollectionDTO to array and use psalm to validate it?

[2021-04-07 08:48] madsem commented on #182
Alright, it seems this has nothing to do with the package. It has something to do with dependency injection that either overwrites the existing DTO, or tries to create a new empty one... Not sure yet. Sorry for confusion :)

[2021-04-07 08:48] #182 closed

[2021-04-08 13:09] brendt commented on #181
James, v2 and v3 are by no means meant to be compatible. It's a complete redesign of the package and it's not expected to be an easy upgrade path. That's why we're still supporting v2 in a separate branch. Please read about how this new version came to be here: https://github.com/spatie/data-transfer-object/issues/151 and read more discussion here: https://github.com/spatie/data-transfer-object/pu

[2021-04-08 13:24] brendt commented on #179
We wouldn't need an attribute, we could evaluate the type hints and check one of the types implement an interface like eg `MissingValue`. That's a little more magic but the less config, the better.

How would this typehint make sense? `null | string | MissingValue` I'd expect `null` values to be casted to the missing value, hence `null` wouldn't be possible.

In essence, this would be a shorthand

[2021-04-09 00:15] pogush commented on #180
I'm still very much confused about this, can someone please provide an example on how to manage collections of classes/other dtos?

[2021-04-09 09:32] brendt commented on #180
[code]

[2021-04-09 09:34] brendt commented on #180
I'll add this in the README as well

[code]

Note: if you don't want to typehint `/** @var …` you'll have to implement your own collection class, there's numerous implementations out there like eg. Laravel's collection for example.

[2021-04-09 09:44] brendt commented on #180
Full examples can be found here: https://github.com/spatie/data-transfer-object#collections-of-dtos

[2021-04-09 10:32] pogush commented on #180
Thank you!

[2021-04-09 12:49] ValiDrv opened #186 "No validation on property change?"
Is there a reason the DTO validation only happens on `__construct`?

**Example:**
[code]

### Suggestion
If you `unset` the public properties when the DTO is instantiated, then `__set`/`__get` will be called.

**Caveats:**
-  `__get` will not be able to return any types other than the ones originally declared, so `array` will have to be `iterator` or `collection`... But you already have the `Colle

[2021-04-09 13:08] ValiDrv opened #187 "Validation stops at the first invalid child in a tested structure."
We use DTOs mainly for turning form post/database/queue/etc data to a know/validated object that can be used in the rest of the code (basically decode some json/array and make a DTO from it).

This means, when a DTO is instantiated with invalid data, we want to know all invalid fields, not just the first one.

**This only works on one level**, validation stops at the first invalid DTO.
Instead it

[2021-04-10 14:32] mradhi opened #190 "Cache reflections in v3"
Hello,

First of all thank you very much for this amazing package. While navigating throw the source code of this library (inside the master branch [v3.x]) , I discovered we can improve the performance of casting objects by adding some cache system for the reflections used to fetch properties/classes metadata, for example inside the abstract class `DataTransferObject`, for each call to `all()` met

[2021-04-12 05:05] sidigi commented on #179
nope

I have a Model. and come of property in my model can be null or strin for example. But, for example i have a value in my table.

Company
- name - required string (in db)
- available_slots- integer or null (in db)

Company
- name: Sony
- available_slots 5

When we nned update only one value in dto - we can not do it, because null is not valid value.

[code]

I wont to reset my available_slots

[2021-04-13 08:03] brendt commented on #190
Yes, feel free to send a PR!

[2021-04-14 10:41] brendt commented on #187
This is a tricky one to solve. DTOs are individually validated, and if one's invalid, it'll throw the validation exception. So the first child gets validated, and that's where it stops. I'll think about the best solution in this case…

[2021-04-14 10:54] brendt commented on #187
The blocker right now: `validate` is called in a DTO's constructor, so that it automatically happens whenever constructing a DTO, this is good behaviour.

We need a way to _not_ call `validate` automatically within nested DTOs though. We have an entry point to determine this (the DTO caster class), but no proper way of actually passing this info to the DTO:

- We could use `debug_backtrace`, I don

[2021-04-14 11:13] ValiDrv commented on #187
You put the validate in a try/catch and aggregate the exception messages.

You lose the individual exception, but that only matters if you have a bug in your validator.

[2021-04-14 12:28] lava83 opened #192 "Documentation - Return type declaration in collections offsetGet"
This part in your documentation:

[code]

does not do what I expect. I have change my collection as follow and it does what I expect:

[code]

[2021-04-14 13:34] fcoedno opened #193 "Automatic casting of nested DTOs in V3"
I've been missing the feature of automatic casting of nested DTO, for example, in the previous version this would work:

[code]

In version 2 each item is casted into a FooItem, but on version 3 that does not happen.

By reading the docs, in order to have a similar result, I would have to create a Caster class each time I need casting nested DTOs. That seems too much verbosity for something that w

[2021-04-15 03:34] brendt commented on #193
What version are you using? This should have been fixed in 3.0.3: https://github.com/spatie/data-transfer-object/releases/tag/3.0.3

[2021-04-15 03:37] brendt commented on #192
That's strange, please take a look at this test where there's a working implementation: https://github.com/spatie/data-transfer-object/blob/master/tests/CollectionCaster/CollectionCasterTest.php

You never should return new DTO instances, since they should have been casted. Maybe that's what's missing? A caster?

[2021-04-15 03:37] #192 closed

[2021-04-15 08:56] lava83 commented on #192
Not a caster, the documentation is wrong. ;-) Example:

[code]

Used:

[code]
I expect:

[code]

but the response is:

[code]

[2021-04-15 09:00] lava83 commented on #192
You can test it like:

[code]

[2021-04-15 09:22] brendt commented on #192
Ah, now I get it! Thanks for reporting, it's been fixed :)

[code]

[2021-04-15 10:20] fcoedno commented on #193
I've tested with all `3.0.*` releases

[2021-04-16 04:23] brendt commented on #193
Please test again with at least 3.03

[2021-04-16 05:30] sidigi commented on #193
CastNested class not found in master branch

[2021-04-16 12:31] fcoedno commented on #193
@brendt I've tested it and the DTOs in the array are not automatically casted. Taking a look at the code regarding version `3.0.3` it seems to have handled the case for nested properties but not for automatic casting of DTOs in an array.

[2021-04-16 14:10] aidan-casey commented on #187
@brendt - How about taking a play out of Laravel's book and implementing some methods used in the `GuardsAttributes` trait for models, only here they would be private static methods?

For example, your construct could look like this:

[code]

For clarity sake, I suppose they could also be called something along the lines of `static::withoutValidation()` and `static::shouldValidate()`.

[2021-04-16 14:26] aidan-casey commented on #190
@mradhi - I had missed this until after I was drafting the PR this morning. Does this look like what you were after?

[2021-04-16 14:31] aidan-casey commented on #193
@brendt - It sounds like @fcoedno is talking about casting within an array, which is not built-in to this package but can be accomplished with a caster.

Personally, I'm not of the mind to see this in the base package myself, it would be better to use a typed collection.

[2021-04-16 15:30] fcoedno commented on #193
@aidan-casey that's indeed the case. Sorry for not making myself clearer haha.

I understand that this can be accomplished with a caster and that a typed collection is better. But my point is that the overhead to accomplish the same final result is too much in comparison to V2. If a user does not need a typed collection and just wants an array of DTO's he'll be forced to create a Caster for each a

[2021-04-16 15:45] fcoedno commented on #193
@sidigi this `CastNested` attribute I've mentioned is actually a proposal of solving this matter. Referencing the example I had given:

[code]

The base package could identify the properties marked with the `CastNested` attribute and for every element in the array automatically cast it to `FooItem::class`.

[2021-04-17 23:12] mradhi commented on #190
@aidan-casey exactly, thank you for the PR

[2021-04-19 10:30] sidigi commented on #193
it would be cool if it can cast to collection)

[code]

[2021-04-19 14:30] aidan-casey commented on #193
@brendt will definitely need to be the one to speak to this, but the point is that this is completely possible with this package. The package provides a framework by which you can implement casting of properties, but does not necessarily facilitate the actual means of doing so.

This package does not provide collections, so it would not make sense for it to make the decision on how to cast them. A

[2021-04-21 07:48] pikant commented on #193
Yes, but only in a super verbose fashion. When you work with APIs that have a lot of nested arrays, the switch to V3 can almost double the amount if your Dto classes. I understand your point, but currently V3 is not really usable for us because we are working almost exclusively Dtos that contain many nested arrays.

In my opinion, the package should at least give you the option to replace / extend

[2021-04-21 09:44] brendt commented on #179
Regarding the null object pattern I described: I made an implementation last week, and think we won't add it after all, it's too much magic that can already be solved using custom casters.

Regarding your question: one of the major goals of this DTO package is to rely on the type system to prevent bugs and gain insights. Optional values as you describe them go against the strictness this package i

[2021-04-21 09:44] #179 closed

[2021-04-21 09:49] brendt commented on #186
This feature would only make sense if you don't treat your DTOs as immutable. I'm hesitant to add support for it since then we're essentially promoting mutable DTOs. I think a better solution would be somethings like this:

[code]

I'm going to add that right away actually. I realise it's not really a solution to your problem but like I said, we shouldn't promote mutable DTOs.

[2021-04-21 09:49] #186 closed

[2021-04-21 10:06] aidan-casey commented on #193
@pikant You can write your own caster by implementing `Spatie\DataTransferObject\Caster` and passing that class to the `CastWith` attribute.

[2021-04-21 10:50] brendt commented on #187
@ValiDrv that would work if the parent DTO called `validate` on the child, but that's not the case since each DTO validates itself and children validate themselves first.

[2021-04-21 10:52] brendt commented on #187
@aidan-casey I prefer not to rely on static state, but maybe you're onto something. Can you share a little more about your thought process? I'm not familiar with `GuardsAttributes`

[2021-04-21 11:07] ValiDrv commented on #186
If the DTO shouldn't be mutable, then there should be some guards against it.

Since it has public read/write properties it looks like a mutable object, and only the name "DTO" kind of hints that it should be immutable.

Can you point me to an article/why we shouldn't promote mutable DTOs? (Could not find anything about it in the V3 proposal)

[2021-04-21 11:10] aidan-casey commented on #187
@brendt Yeah, I'm with you, but it does seem like it could be a good way to solve this issue.

In the GuardsAttributes trait, it has several methods that allow you to bypass the guard. One of these is the `unguarded()` method which toggles a static boolean (`$guarded`) to false, runs the callback passed to it, then toggles that static boolean back to true. It basically allows a small amount of cod

[2021-04-21 11:13] brendt commented on #193
I agree that some kind of generic cast for collections would be useful. I'm thinking about it.

[2021-04-21 11:18] brendt commented on #187
Gotcha. It's rather hacky, but then again: every other solution is as well. I'm just wondering whether it's worth adding the extra complexity only for exception messages to be a little more clear 🤔

[2021-04-21 11:33] aidan-casey commented on #187
Yeah, I get that. The extra complexity is fairly minimal for a better developer debug experience, but I'm not sure this is a situation people will be running into often.

[2021-04-21 11:46] ValiDrv commented on #187
Why won't something like this work:
(Stops at the first property just for simplicity)

[code]

That way you don't need those "skip normal logic flags".
And if the thrown exception is specific to the abstract DTO class, then the message could be parsed and better formatted.

[2021-04-21 12:14] pikant commented on #193
Yes, but since `CastWith` only accepts only one parameter (in this case the class name of my custom caster class), one cannot create a generic caster. And therefore, we have to create one custom caster class for every nested array we have.

[2021-04-21 12:26] aidan-casey commented on #193
Well, you could create a generic caster for ArrayAccess. It sounds like the problem you are describing is the ability to also cast the contents of that?

[2021-04-21 12:41] pikant commented on #193
Exactly. Each subset / nested array should be typesafe as well. In 95% of our use cases, we have nested arrays with complex objects. Often we also have nested structures in up to three levels. That is why we absolutely need type-safe casting to Dtos. Maybe I did not point this out clearly enough.

Here is an example:

[code]

When you now look at the customs casters, all of them are doing basicall

[2021-04-21 14:54] fcoedno commented on #193
Maybe a possible solution would be to make the `CastWith` attribute to receive arguments and then pass these arguments to the caster constructor.

The `CastWith` attribute could start to accept a variadic arguments:

[code]

Using @pikant 's example, ti could be refactored to:

[code]

And the generic caster class:

[code]

[2021-04-22 03:48] brendt commented on #190
We're not going to add this functionality, cause benchmarks show that caching reflections only makes the tiniest difference. More info in #196

[2021-04-22 03:48] #190 closed

[2021-04-22 03:54] brendt commented on #187
@ValiDrv feel free to submit a PR, the way you described doesn't work because of how validation works, but maybe there's something more to your idea that you didn't show. Here's a testcase you can use:

[code]

[2021-04-22 04:12] brendt commented on #187
@ValiDrv it was a little more complex than that, but I got it working… in part.

The output now is this:

[code]

You can see the problem: `NestedBaz->x` should be `NestedBaz->a->x` etc.

I'm going to stop looking into this for a while, there are other things higher on my priority list (but I'll come back to it later). I've pushed the changes on this branch if someone wants to take a look: https:/

[2021-04-22 04:14] brendt commented on #193
I'm fine with that implementation, feel free to send a PR.

[2021-04-22 13:12] ValiDrv commented on #187
Your exception needs to build a tree. And since you can't re-declare `getMessage`, you need to replicate that functionality twice, once for the current exception, once for the exception tree.

Something like this:

[code]

Ps:
- Might want to add the exception `$code` in there.
- Might want to keep track of the actual exception that was thrown (ex: if you have an error in the validator/caster, you

[2021-04-23 03:33] brendt commented on #187
I'll continue to work on this probably next week :)

[2021-04-25 13:24] sboo opened #200 "DefaultCast not repeatable"
When trying to use multiple default casts as mentioned in your documentation:
[code]
I get an error that the attribute must not be repeated:

`PHP Error:  Attribute "Spatie\DataTransferObject\Attributes\DefaultCast" must not be repeated in /var/www/html/vendor/spatie/data-transfer-object/src/Reflection/DataTransferObjectProperty.php on line 143`

[2021-04-26 03:33] brendt commented on #200
Fixed in 3.1.1: https://github.com/spatie/data-transfer-object/releases/tag/3.1.1

[2021-04-26 03:33] #200 closed

[2021-04-30 07:40] #193 closed

[2021-04-30 08:10] swaner opened #203 "Can I use constructor property promotion in my DTOs?"
I am new to this library and I wonder if it possible to use new PHP8 feature constructor property promotion (https://www.php.net/releases/8.0/en.php#constructor-property-promotion)

[code]

With this in place it's very easy to construct big DTO:s with type safety and autocomplete. Syntax is same as before but the IDE will help me out with types and required properties:
[code]

The issue I am runni

[2021-04-30 08:28] brendt commented on #203
It's not possible to support property promotion, sorry.

[2021-04-30 08:28] #203 closed

[2021-04-30 09:34] swaner commented on #203
I managed get the example to work by extracting the casting resolveCaster to a static class and moving the constructor logics to it's own function.

[code]

I do realize that this not complete and hacky atm but if you want I can submit i PR to be discussed around? But if you are 100% sure that this is not possible to support I rather not spend my time on it.

[2021-05-01 10:59] stolentine opened #205 "Arguments for casters"
I suggest allowing parameters to be passed to casters

There are several ways to do this.

Version 1. Let attributes be casters. This will allow passing additional parameters to caster, such as the type for collection items.

Version 2. CastWith should accept ...$args after the $casterClass and pass them to the caster's constructor.

![image](https://user-images.githubusercontent.com/75437860/1167

[2021-05-03 04:32] brendt commented on #203
We really don't want to support this complexity. I'm sure there are ways around the limitations, but like you said they are hacky at best.

[2021-05-03 13:04] aidan-casey commented on #205
How often is this really a use case? It seems like for scenarios where the collection should be typed it should have a dedicated collection class (e.g., "ChatThemesCollection") and other cases merit a custom caster.

If every use case is supported, this package becomes bloated where it could just be extended by creating custom caster.

[2021-05-03 18:26] aidan-casey opened #207 "Organize Tests"
I am creating this as an issue because I don't want to be stepping on the toes of any standards or preferences at Spatie. I think it could be beneficial to organize tests into a file structure that matches the code being tested. This comes out of observing the standards elsewhere and my own experience with the source in which it was a little tricky to track down the right files. :sweat_smile:

Exa

[2021-05-04 04:34] brendt commented on #207
I put the `ArrayCasterTest` in a separate folder because it uses some dummy classes who would otherwise have a name conflict with other dummy classes. Feel free to reorganise them. But maybe wait until I've merged all open PRs, just to make sure you don't have to deal with merge conflicts :)

[2021-05-04 04:36] brendt commented on #205
Version 2.1 is already supported, no? https://github.com/spatie/data-transfer-object#using-custom-caster-arguments

[2021-05-04 04:36] #205 closed

[2021-05-04 09:34] aidan-casey commented on #205
@brendt - It looks like the original post got edited a bit, but I believe @stolentine was recommending having a specific argument of the `CastWith` class be dedicated to parameters for the constructor of the casted class.

It seems like too much to support and you could technically do this, as you point out, with one of the parameters in the caster.

[2021-05-04 09:36] aidan-casey commented on #207
I gotcha. I'm just thinking as the project continues to develop it could be nice to have them match the structure of `src`. I'll submit a PR once the others are closed as you suggested. 🙂

[2021-05-04 13:17] swaner commented on #203
I understand your take on this. I hope you might consider it sometime in the future, it really provides a great developer experience.

Thanks for a great library.

[2021-05-04 14:14] aidan-casey commented on #186
@brendt - I actually think the current behavior _does_ somewhat promote mutable DTOs and results in a pretty big loophole when considering typed objects.

I'm not sure how you'd make these truly immutable without implementing breaking changes and another release, but it does seem like something should be done here.

[2021-05-05 04:32] brendt commented on #186
There's little we can do to improve this as long as PHP doesn't support immutable properties. My suggestion would be to use the `#[Immutable]` attribute if you really want clarity, which is supported by all major static analysis players.

In our team, we have the convention that DTOs are immutable, even though it isn't forced by the package.

[2021-05-13 14:03] daniser opened #209 "Union type support"
On caster class instantiation there's no check if object property has union type:
https://github.com/spatie/data-transfer-object/blob/d101e5185844eb92bf5fb8d0d1a200f1778e9802/src/Reflection/DataTransferObjectProperty.php#L85-L88
In that case it fails because ReflectionUnionType doesn't have getName() method.

[2021-05-13 14:22] daniser commented on #209
Following fix works, but I don't know if it is the correct solution:
[code]

[2021-05-14 20:48] adrienne opened #211 "Am I misunderstanding how casters work, or is the documentation unclear?"
What i would like to do:

I have a DTO with a custom type, like this:
[code]

and i am creating a DTO using a string for `$store`, like this:
[code]

Now, if I understand correctly, what *should* happen is that the DTO should take the string `$store` and use `EnumCaster` to convert it to an `ItemStoreEnum`. Is that correct? Because if so, I can't get it to work at all.

[2021-05-14 20:49] adrienne commented on #211
This whole "using specially-formatted comments to do stuff" thing is very confusing and doesn't seem to allow any way to get useful error messages, either.

[2021-05-17 07:54] daniser commented on #211
Please show your `EnumCaster` code.
Also, don't forget to `use` both `CastWith` attribute and your `EnumCaster` caster.

[2021-05-17 15:44] adrienne commented on #211
@daniser - the `EnumCaster` file looks like this:

[code]

[2021-05-17 15:49] adrienne commented on #211
@daniser - okay! It was not having the `CastWith` attribute that was causing the problem. Going to close this, but you probably want to update your documentation to make that clearer?

[2021-05-17 15:49] #211 closed

[2021-05-18 04:03] cdomigan commented on #134
@Rezrazi thanks for sharing that approach. It looks like that wouldn't let you then support null values? It would interpret them all as omitted?

Ideally I would love a way to support both null and omitted values.

[2021-05-25 10:29] bastien-phi opened #214 "3.2.0 release was not released"
@brendt According to the Changelog, 3.2.0 was released but I cannot find the version in packagist nor the tag in github.

Maybe you just forgot to push the tag ? ;-)

A 3.2.1 release with curent master would be great too !

[2021-05-31 11:16] brendt commented on #214
Sorry for that, and sorry for the late reply (I was on parental leave). I've tagged all changes on master as 3.2.0: https://github.com/spatie/data-transfer-object/releases/tag/3.2.0

[2021-05-31 11:16] #214 closed

[2021-05-31 12:11] bastien-phi commented on #214
No worries, family comes first !

Thanks

[2021-05-31 20:30] sandulat commented on #214
Thank you very much @brendt!

[2021-06-16 15:11] aidan-casey opened #216 "ArrayAccess limitations"
@swaner mentioned an issue with the `ArrayAccess` casting found in the `ArrayCaster` class in #206. I have a fix for that specific issue, but in implementing it I have discovered some oversights in my original implementation of the `ArrayAccess` caster which causes it to not work for very basic `ArrayAccess` implementations that do not also implement `IteratorAggregate`.

My current thinking is to

[2021-06-16 15:38] daniser commented on #216
I think you should also check if it is implementing `Iterator` instead of `IteratorAggregate`.
PS. Or better check for `Traversable` to check both cases?

[2021-06-16 15:49] aidan-casey commented on #216
@daniser _Maybe_ in addition to, but I don't think instead of. `IteratorAggregate` exposes a method `getIterator` which returns either an instance of `Iterator` or `Traversable`. `IteratorAggregate` is used by `ArrayObject` and most collection packages out there, so I think it's going to be the more relied upon method.

There is possibly some value to supporting objects that implement `Iterator` a

[2021-06-16 15:58] daniser commented on #216
@aidan-casey That's what I meant by  saying *also*, sorry for miswording.

[2021-06-16 16:00] aidan-casey commented on #216
@daniser  It's probably worth doing so since the same method should be able to create the objects for an `IteratorAggregate`, `Iterator`, and `Traversable`. Let's see what @brendt thinks.

[2021-06-19 18:08] oliver-la commented on #108
Thanks to you I learned that all classes have to extend the DataTransferObject, not just the "root" class. 😄

[2021-06-21 03:43] brendt commented on #216
I'm fine with fixing it, go ahead and submit a PR!

[2021-06-21 12:42] aidan-casey commented on #216
Thanks, @brendt. I will try to have something over today.

[2021-07-21 18:00] aidan-casey opened #222 "PHP 8.1"
@brendt - I've been thinking about this package in light of PHP 8.1 and thought I'd create an issue with some thoughts. Don't mean to step on any toes in case you've already got something cooking.

## Immutable DTOs

With [readonly](https://wiki.php.net/rfc/readonly_properties_v2) properties coming to PHP 8.1, it seems like this would be a good time to revisit #186 and truly make DataTransferObjec

[2021-07-22 08:06] daniser commented on #222
One argument against making constructor private is this RFC: [https://wiki.php.net/rfc/new_in_initializers](url)

In PHP 8.1, this will be perfectly valid code:
[code]

`test`

Without public constructor, this feature will be unavailable.

[2021-07-22 09:22] jdreesen commented on #222
This won't work, as the mentioned RFC does not support `new` for properties (see: "Future Scope: This RFC omits support for new in property and class constant initializers. These could be supported in the future, once we have figured out the evaluation order issues.)

[2021-07-22 10:13] aidan-casey commented on #222
@jdreesen is correct here. Unfortunately, we have to drive the DTO structure through class properties which will not currently support that functionality.

@daniser one of the things I thought about was whether or not there'd be any way to support [constructor property promotion](https://wiki.php.net/rfc/constructor_promotion). That would be fantastic because then the construct method of the DTO w

[2021-07-27 15:21] MatanYadaev opened #223 "Add support to `NullableArrayCaster`"
Currently, the `ArrayCaster` accepts only an `array|ArrayAccess`, and it fails if the value is `null`.
In my company, we need a caster that accepts `array|ArrayAccess|null` - we can't pass just an empty array because it means different thing than `null`.

Not sure if it should be a new caster, or just a flag property in the existing flag.

BTW, for now I'm using a custom caster for that, but it co

[2021-08-10 12:42] brendt commented on #222
Yes, I'm fine with a breaking change here

I'm not against it. I don't see how we can add property promotion btw, I've given it quite some thought already. So that shouldn't be a blocker. I think we need to poll the community beforehand though, because it could be controversial.

I'd also opt for `::new` and `::newWithoutValidation`, but that's just my preference.

Definitely, seems like a good ad

[2021-08-10 12:42] #216 closed

[2021-08-10 12:45] brendt commented on #223
Feel free to submit a PR to fix it, I'm fine with a flag.

[2021-08-10 12:45] #223 closed

[2021-08-10 18:11] aidan-casey commented on #222
Kinda thought you might be. 🙂

I have too and I agree. The one other argument I can think of for keeping the `__construct()` method is that it is closer to vanilla PHP as they continue to develop features like `readonly` props. I think this package has necessarily stepped into deeper functionality (casters, validation, etc.), so it's far enough from vanilla that we might as well feel comfortable s

[2021-08-11 04:23] brendt commented on #222
I'll send out a tweet about it today

[2021-08-11 04:31] #209 closed

[2021-08-13 15:59] Gounlaf opened #226 "[Bug] Strict attribute is broken with version 3.6.0"
Hi,

It seems that the functionality `#[Strict]` is broken with version 3.6.0.
One property, or multiple ; from array or from named arguments. It always fails.

I'm just using the example from the README.

PHP Version : 8.0.9

[code]

If I'm doing something wrong, please let me know.

Regards.

[2021-08-13 16:29] shadowhand commented on #226
Same issue here. Despite calling the constructor with the correct arguments, it always reports the given arguments as "Unknown Properties".

[2021-08-14 11:42] Gounlaf commented on #226
I didn't see: a PR has been made #225

[2021-08-14 11:42] #226 closed

[2021-08-17 03:37] brendt commented on #226
Fixed: https://github.com/spatie/data-transfer-object/releases/tag/3.6.1

[2021-08-17 09:36] MannikJ opened #227 "Enhanced DTOs + Linked Nested DTOs / DOM"
Hi,

maybe there are good reasons to avoid something like this or I have overseen something that's already possible, but is there any way to get back through the structure from a nested DTO to it's parent object in a DOM fashion?

I understand and like the idea of having plain old php objects with self-validation support solving one single purpose. But I also feel it would also be a good place for

[2021-08-17 10:04] mfn commented on #227
I wouldn't. If I must really make sure to pass this information around _together_, I would probably _compose_ a new one bag which holds the authenticated user and the DTO.

[2021-08-17 10:43] brendt commented on #227
I'm afraid this is outside the scope of this package.

[2021-08-17 10:43] #227 closed

[2021-08-19 20:07] princejohnsantillan opened #228 "MapFrom does not work"
Example on the docs for MapFrom does not work.

![Screen Shot 2021-08-20 at 4 03 27 AM](https://user-images.githubusercontent.com/60916966/130136403-16f9e902-dfcb-421e-b14e-85c7c50055ec.png)

[2021-08-19 20:11] princejohnsantillan commented on #228
My bad, I needed to use the full class name for MapFrom
Spatie\DataTransferObject\Attributes\MapFrom

[2021-08-19 20:11] #228 closed

[2021-08-19 20:33] princejohnsantillan opened #229 "MapFrom bugs"
**I can't use a root more than once.**

`user.email` returns null here
![Screen Shot 2021-08-20 at 4 19 30 AM](https://user-images.githubusercontent.com/60916966/130138895-53480a91-b542-4e79-a900-6882178b9268.png)

If I switch up the order then `user.name` returns null
![Screen Shot 2021-08-20 at 4 29 29 AM](https://user-images.githubusercontent.com/60916966/130139551-9231e3f6-2b5b-427f-b562-b733f

[2021-08-20 04:43] brendt commented on #229
I'll look at this next week

[2021-08-20 07:44] regnerisch commented on #229
I think this is a problem related to `Arr::forget` in `DataTransferObject` (https://github.com/spatie/data-transfer-object/blob/master/src/DataTransferObject.php#L30)

I have a similar bug:

[code]

As `subscriptions` is coming first, it will be read from the DTO and `Arr::forget` will remove it. So if I try to access `subscriptions.0` it will not find the `subscriptions` key and no value will be

[2021-08-25 10:50] #229 closed

[2021-08-25 10:52] brendt commented on #229
Fixed in https://github.com/spatie/data-transfer-object/releases/tag/3.6.2

[2021-08-25 13:18] TSchuermans opened #232 "Question: using casters to generate null objects"
Hi!

I was researching if there was a way to use casters for null objects.
Say for instance I would have this json:
[code]

And I would like to use these DTOs:
[code]

I would like to use the CastWith to check if the value of $permissions in Settings === null.
And if that's the case just give me an empty Permissions object.
However with the current code base this isn't possible as the caster is on

[2021-08-25 13:48] TSchuermans commented on #232
Right now I solved it by replacing all union types | null on properties by | string and setting a default value of ''.
Feels a bit hacky though :')

[2021-08-25 15:34] princejohnsantillan commented on #229
Cool beans! Thanks @MaximeWillinger @shadowhand @brendt!

[2021-09-01 13:06] #207 closed

[2021-09-01 13:06] brendt commented on #222
Twitter wasn't opposed to making locking the constructor, good!

[2021-09-01 13:07] brendt commented on #222
Sidenote: we should also restructure the test suite with a new release: #207

[2021-09-01 13:08] brendt commented on #222
As well as this one: #187

[2021-09-01 13:15] brendt commented on #222
Another addition that might be useful: should we add more built-in validation rules? I'm sure we can get some inspiration from existing frameworks. Again, @aidan-casey has already done lots of work in this area regarding a laravel-specific DTO integration.

[2021-09-01 13:17] brendt commented on #222
So, a quick summary of ideas for PHP 8.1:

- [ ] Readonly support
- [ ] private constructor and instead only allow static constructors (with some built-in)
- [ ] Add a `diff` method
- [ ] Restructure our test suite
- [ ] Allow to validate an entire DTO and not fail on the first failing property
- [ ] Add more built-in validation rules — maybe?

[2021-09-01 17:17] aidan-casey commented on #207
Good plan. 👍🏼

[2021-09-02 12:12] aidan-casey commented on #222
One concern I have here is how that would be implemented. If we provide validation rules in a framework-agnostic way, we would need to recreate the logic for the validation here in this package. If we choose to support a specific framework (e.g., Laravel), we lose the framework-agnostic element of this package.

_If validation is something we should continue to be concerned with_, I would recommen

[2021-09-03 11:10] Shamunr opened #234 "Addition of attribute imports in examples"
A suggestion I have would be in the examples in the README is to also include imports for attributes.  I myself had not used attributes before and was going by the examples and they were not working as expected.  The attributes I added were not being used.  It took an embarrasing amount of time to figure out that the attributes need to be imported.

In my opinion it could be a nice introduction fo

[2021-09-03 21:08] brenoroosevelt opened #235 "Validations using the data context"
Would it be possible to add support for validations using the DTO data context?

Example:
[code]
To enable this functionality the Validator interface needs to change:
[code]
Validator (example):
[code]

... change the validation call at the end of DataTransferObject's constructor:

[code]
And pass the data context to validator:

[code]

Thanks in advance

[2021-09-06 04:09] brendt commented on #235
That's an interesting idea. We could consider this for the next major. @aidan-casey what do you think?

[2021-09-06 09:54] aidan-casey commented on #235
@brendt - I like the idea and think it's worth pursuing. If we end up going the route of a validation provider (mentioned in #222), I would expect it to get passed the reflection class in the construct.

[2021-09-14 06:34] simPod opened #238 "Setting `#[Strict]` on parent is not applied on children"
[code]

then `Dto` is not strict because `DataTransferObjectClass::isStrict()` reads attributes only for current instance but not its parents.

Is it intended or a bug? Thanks!

[2021-09-14 07:23] brendt commented on #238
It's a bug, feel free to submit a PR that fixes it.

[2021-09-15 18:12] 1212087 opened #240 "Question: correct place to put this logic?"
Hi everyone,

This is a question about where is the correct place to put data transfer logic. For example, I have OrderRequest that sent from a client (Form data / Ajax), and an OrderDTO to transfer this Request.

Request:
[code]
OrderDTO
[code]
The $details in OrderDTO is something like this
[code]
So I must create a function that transfers from batches to an array of DetailDTO ( $details). But w

[2021-09-17 04:03] #238 closed

[2021-09-17 04:07] brendt commented on #240
You should create a static method on your DTO that handles all of this at once. I'd advice against creating DTOs that require separate setter calls in order to "be complete".

[code]

[2021-09-17 04:07] #240 closed

[2021-09-17 09:50] 1212087 commented on #240
@brendt " I'd advice against creating DTOs that require separate setter calls in order to "be complete".
I agree with your opinion, but sometimes, we need DTOs that require more than one step to be completed, such as Order feature that requires many screens and requests to be completed (Fill order general information -> fill order detail -> review and confirm). What is your solution for features l

[2021-09-20 03:34] brendt commented on #240
I'd create two separate DTOs, one for each step, and only combine them at the very end (possibly by storing their data in a model?)

[2021-09-20 08:44] 1212087 commented on #240
@brendt  Maybe something like this:
OrderStep1DTO
OrderStep2DTO
OrderStepNDTO
and OrderDTO (for final Order data) with a static function (ex: OrderDTO::fromAllPreviosStep(OrderStep1DTO, OrderStep2DTO...))
[code]

[2021-09-21 03:38] brendt commented on #240
I would prefer clear names like `GeneralOrderInformation` and `DetailOrderInformation`.

Besides that, I think maybe I misunderstood your use case, because the example you've shown isn't what I had in mind.

So let's back up: why do you absolutely want one combined DTO with all data in it? I can imagine that data will at some point be stored in a model somewhere, so why not simply combine it at th

[2021-09-21 11:44] 1212087 commented on #240
"why do you need several steps in the first place? Are you working with some kind of multiple requests and want to rebuild the whole DTO across requests"
This is my use case: "Users place orders with multiple steps. In step 1, they provide some general information such as name, phone, email... In step 2, they fill detailed information such as products that they want to buy, the quantity for each p

[2021-09-21 12:34] brendt commented on #240
I wouldn't have multiple static constructors, only the `fromSession` one:

[code]

Maybe you want to manage storing/retrieving the order data via a dedicated repository class? That's up to you.

[2021-09-21 15:28] Raja-Omer-Mustafa opened #241 "TypeError: Cannot assign null to property PostDTO::$title of type string in file vendor\spatie\data-transfer-object\src\Reflection\DataTransferObjectProperty.php on line 48"
TypeError: Cannot assign null to property PostDTO::$title of type string in file vendor\spatie\data-transfer-object\src\Reflection\DataTransferObjectProperty.php on line 48

I am facing this issue with PHP 8.0.9

I am using the below code am I missing something?
[code]

[2021-09-22 04:11] brendt commented on #241
This might be a bug

@MaximeWillinger you initially wrote `#[MapFrom]`, any ideas?

[2021-09-26 18:33] Raja-Omer-Mustafa commented on #241
@brendt any feedback or updates?

[2021-09-27 03:24] brendt commented on #241
Not yet.

[2021-09-29 12:54] aidan-casey commented on #241
@Raja-Omer-Mustafa - You need to import the attribute. Make sure your file looks like this.

[code]

CC: @brendt (I believe this can be closed)

[2021-09-29 12:57] aidan-casey commented on #234
@Shamunr - This would probably be a good first PR. 🙂

[2021-09-29 13:25] #241 closed

[2021-09-29 13:25] #234 closed

[2021-09-30 11:36] Raja-Omer-Mustafa commented on #241
Yes that's works Great thanks

[2021-10-01 09:23] mgsmus opened #243 "Cannot use except() after only()"
PHP 8.0.9
Laravel 8.62.0
spatie/data-transfer-object 3.7.2
[code]
[code]
Expected response:
[code]
Actual response:
[code]

Am I missing something?

[2021-10-01 10:34] aidan-casey commented on #243
Hey @mgsmus - those method do not currently chain. (See [line 94](https://github.com/spatie/data-transfer-object/blob/56fcac4ba39c9307a9514d49d3435f8a48409bee/src/DataTransferObject.php#L94))

If you would like to propose an API or behavioral change, #222 would be a good place to do that right now.

[2021-10-01 10:51] #243 closed

[2021-10-04 16:41] mgralikowski opened #244 "Mapping single attribute twice - direct and in subcollection is not possible"
[code]

This code generates nice DTO with extracted ID and collection with fields. Unfortunately `sourceId` in fields is empty as is fetched already in the parent DTO.

DataTransferObject in contructor removes attribute:
`$args = Arr::forget($args, $property->name);`

and I don't see any option to disable such behavior. Is it intended? When I comment this line, everything works + I see value in bo

[2021-10-04 16:53] aidan-casey commented on #244
Hey @mgralikowski! This is the intended behavior. The idea with mapping is somewhat one-to-one (e.g., `snake_case` to `camelCase` names) not necessarily that you would have that value in multiple places. You are probably best off either mapping all or none of the values in that array.

[2021-10-04 17:03] mgralikowski commented on #244
The item contains many fields (100<) and my intention was to make shortcuts to the most important attributes.

[code]
I added sth like this but it looks ugly and it is not pure DTO anymore :(

[2021-10-04 17:14] aidan-casey commented on #244
@mgralikowski - You could create a factory (or static method) on the DTO to handle this mapping manually. For example (assuming this is an API response):

[code]

@brendt would need to speak to any changes in behavior here, but they would likely need to happen in the next major version.

[2021-10-06 11:42] basepack opened #245 "User ArrayCaster with itemType: Carbon?"
Currently I have this DTO:

[code]

However when the caster runs I get the error: `Caster [ArrayCaster] each item must be an array or an instance of the specified item type [Illuminate\Support\Carbon].`

So I assumed that the casting is not what I expected. If I look into the source code for the`ArrayCaster` class, and then dump `$data` from the function `castItem(mixed $data)` then I see a Carbon

[2021-10-06 11:56] brendt commented on #245
If the individual items are arrays themselves, the package will try to cast it by using `new ItemType(...$data)` (https://github.com/spatie/data-transfer-object/blob/master/src/Casters/ArrayCaster.php#L62-L64)

So it's rather limited in that sense.

I'm not sure about the specific input, but it need to be this format:

[code]

Hope that helps!

[2021-10-06 11:56] #245 closed

[2021-10-06 12:17] basepack commented on #245
Thanks brendt for clearing that up!

However could it not be a nice feature that if there is not an array given, `new ItemType($data)` is called?

[2021-10-20 09:40] mgralikowski opened #248 "Formatters / multi casters"
Would it be possible to add support for formatters?

I am fetching from the JSON non-standardized data, so my idea is to for example lower case them.

My first idea:
[code]
It required to add `Attribute::IS_REPEATABLE` in CastWith class but in the end, it doesn't work - the second caster is not called.

Second idea:
[code]
Then, in the second argument of the constructor, I have access to this vari

[2021-10-20 10:26] mgralikowski commented on #248
Do You mean, any converters should be done outside of DTO?

[2021-10-20 11:14] #248 closed

[2021-10-26 01:19] augustusnaz opened #249 "Cannot assign null to property of type bool"
Creating the below object attempts to set the boolean properties to null.

[code]

[code]

I suspect it's caused [here](https://github.com/spatie/data-transfer-object/blob/0b7dcb67cb85958c5bec42edea749092c9522d91/src/DataTransferObject.php#L29).

Can anyone reproduce this?

[2021-11-05 03:32] LarryBarker opened #252 "Problem assigning file upload to DTO property"
Hello, I'm hoping for some feedback/insight on an issue I'm having using DTOs with request files. Unfortunately, our server will not support your package so we have implemented a very lightweight version on our own for the time being.

That being said, we have very simple DTO classes:

[code]

I then have another class that accepts the request as a parameter, and maps the properties to the DTO:
[c

[2021-11-05 03:47] LarryBarker commented on #252
Welp... classic case of "time to get some sleep." Problem was an extra `$` where I assign the property in the DTO:

[code]

[2021-11-05 03:47] #252 closed

[2021-11-05 22:08] sergyu91ma commented on #249
any workaround until fix is released?

[2021-11-18 03:13] videni opened #256 "Does this library support a collection of variants of a base class?"
As you can see the `settings` array, which has two objects, their properties are different.

json
[code]

php
[code]

[2021-11-22 04:57] brendt commented on #256
There's no support for this, and I don't think we want to add it at the moment.

[2021-11-22 04:57] #256 closed

[2021-11-26 00:37] Daespinosag opened #257 "Question: Is it possible to perform implicit model building?"
Hello,

Is this package able to search a model implicitly from its identifier ? I would like to be able to pass a model object or an identifier and if I pass a valid identifier the DTO can store the model.

[code]
for example:
I would like to be able to call them like this:

` $taskData = new TaskData(taskCategory: 'identificator category', name: 'name');`
or
` $taskData = new TaskData(taskCategor

[2021-11-26 05:12] brendt commented on #257
It's not supported and out of scope; you could always create a custom caster to handle this though :)

[2021-11-26 05:12] #257 closed

[2021-11-27 17:49] Daespinosag commented on #257
**It's fine.**

I am trying to build the functionality, however I find that the `MapFrom `only recognizes one element. how can I make the `MapFrom `support two possible inputs `#[MapFrom ('model' | 'mode_id')]`. (I think it is critical to be able to do what I need). Any option that I am not considering?

Thanks for answering.

[2021-11-27 20:02] Daespinosag opened #258 "Problem with the function of converting to an array with model type properties."
**Hello People.**

Currently I have a DTO that contains a model:

[code]

Everything works fine, however when I try to convert the DTO into an array the model does not convert and is still an object. I want to answer an array in my API.

[code]

Result:

[code]

I am doing something wrong? is this contemplated in the book store?

[2021-11-28 12:43] nox-4O4 commented on #258
If you want to recursively parse your models to arrays, all of them should extend `DataTransferObject`.

In case `Collaborator` cannot be made a `DataTransferObject` (e.g. when it should result into a scalar after making it an array), the easiest way is to override `parseArray` at your DTO class and handle objects yourself, as unfortunately currently there are no reverse casters.

So, either have

[2021-11-29 02:31] Daespinosag commented on #258
**Hello, thank you for replying.**

I'm not sure I understand the following recommendation:

My models extend the laravel model class (they are database models).

[code]
I don't think it is possible to extend `DataTransferObject `and maintain `model `responsibility at the same time.

Did I understand your answer correctly ? am I missing something?

[2021-11-29 04:33] brendt commented on #258
`toArray` will only cast DTOs to arrays and leave all other input alone; you can override `parseArray` in a base DTO class if you want to.

[2021-11-29 04:33] #258 closed

[2021-12-01 10:38] abrampl opened #259 "Decimal"
How to cast decimal in DTO ??

As string with number_format caster or float ??

[2021-12-01 11:55] brendt commented on #259
You'd use floats.

[2021-12-01 11:55] #259 closed

[2021-12-06 16:05] Daespinosag opened #261 "Question: Is it possible in a DTO to perform all validations before the execution is interrupted by an error?"
Suppose that in a DTO three variables are expected, an **identifier**, a **date** and a **number between 0 and 100**. Is there any way that if the date and the number are wrong, the DTO tells me about both errors and not only the first one it finds?

[2021-12-06 17:40] aidan-casey commented on #261
Hey @Daespinosag,

Please see #187. This is not currently possible, though it is something that is being considered for version 4.

[2021-12-06 17:40] #261 closed

[2021-12-06 17:43] Daespinosag commented on #261
**awesome, thank you**

[2021-12-10 18:49] zjbarg opened #262 "PHP 8.1: Intersection types support"
Currently [intersection types](https://wiki.php.net/rfc/pure-intersection-types) are not supported by the package.

It is not possible to construct on object of the following type at the moment
[code]

[2022-01-03 11:05] #222 closed

[2022-01-07 11:05] #235 closed

[2022-01-15 17:46] Indemnity83 opened #265 "Add support fo simple object casting"
Maybe I've just missed something in the documentation but it feels like simple object casting should just work.

For example, the below throws an TypeError complaining that it cannot assign a string to the DateTime property.

[code]

[code]

It seems logical that when an object shall be created but the data contains a simple type only (e.g. string, float, boolean), this value is passed to the prop

[2022-01-16 04:04] aidan-casey commented on #265
Hey @Indemnity83!

This has been discussed previously on #245 and #250. The cliff notes are basically that this is intentionally unsupported in V3, though there is a possibility of it being part of V4.

In the meantime, you can create your own caster to accomplish this functionality. 🙂

[2022-01-16 04:04] #265 closed

[2022-01-16 04:36] Indemnity83 commented on #265
Yeah, for now I've [created my own caster ](https://github.com/CaashApp/plaid-sdk-laravel/blob/db9e763022da8125bd27bd6b2f578dd8ed6f9567/src/Casters/DateTimeCaster.php). I'll look forward to v4, although #245 and #250 look like they still are including an annotation to drive the mapping? My point was before failing to cast, why not try using the class constructor. No annotations needed.

[2022-01-16 12:29] aidan-casey commented on #265
Got it. I'm not sure we'll ever support that. There are a lot of edge cases involved that could have unexpected results.

[2022-01-26 08:03] CristianHG2 opened #266 "[Discussion] Thoughts on using constructor property promotions?"
Hello! First off I'd like to take my hat off to Spatie and the other contributors for this awesome library. Thank you for keeping OSS alive!

We've built attributes that tremendously helped our Laravel development on top of this library, we are looking forward to publishing them in a few weeks or months once we know they are thoroughly tested and documented. Please look forward to that and feel fr

[2022-01-26 13:36] aidan-casey commented on #266
Hey @CristianHG2, thanks for opening the discussion!

We are definitely proponents of property promotion in the context of data transfer objects. As you say, it improves autocomplete and type-assistance in a good IDE while accurately modeling data.

Now, all that said, this pattern is not something we are officially supporting, and we cannot guarantee it will not break at some point. For that reas

[2022-01-26 13:36] #266 closed

[2022-02-25 02:23] garhbod opened #269 "Docs for v3 not as clear as v2"
I don't know if anyone else noticed the difference but I find the Docs for version 3 throw you in the deep end straight away and don't explain the package or it's workings as well as v2.
The intro in v2 explains the reason for the package in a relatable way while giving a basic example.
On the other hand the first example in v3 uses a lot of custom classes that aren't explained and named arguments

[2022-02-25 05:02] brendt commented on #269
Feel free to submit a PR with things that can be improved.

[2022-02-25 05:02] #269 closed

[2022-03-01 21:48] kd-at-mi opened #270 "Call to undefined method `getFieldValidators`"
I am upgrading a project to laravel 9 and the spatie/data-transfer-object package along with it.  After upgrading the getFieldValidators function is no longer working and I was hoping someone could point me in the right direction.  I have gone through some of the changelogs and old code and am lost.

Thanks for the help, I hope I put this in the right spot because I had no clue where to ask this q

[2022-03-01 22:10] aidan-casey commented on #270
@kd-at-mi - Are you getting an error at all?

[2022-03-01 22:23] kd-at-mi commented on #270
Its showing up in my tests...

  Call to undefined method App\Objects\Context\Context::getFieldValidators()

This upgrade has been intense.  I basically renamed the FlexibleDataTransferObject to DataTransferObject and proceeded with the tests but it seems there are tons of errors relating to the DTO and even contracts

[2022-03-02 03:18] aidan-casey commented on #270
@kd-at-mi - I assume you are trying to upgrade from v2 of this package to v3? You should not be renaming any files, but simply install the latest major version using composer.

To do this:

[code]

Ensure that you are not making use of the `getFieldValidators` method yourself, since it was removed in version 3. Also note that `FlexibleDataTransferObject` is not part of version 3.

[2022-03-03 11:16] #270 closed

[2022-03-14 14:37] regnerisch opened #272 "Unexpected behavior on clone and MapTo"
Hey,

I want to report an unexpected behavior/ bug when using clone and `MapTo`. 

Here is an example: 
[code]
Reproduce the problem:
[code]

This happens because of how `clone`/ `toArray` works:
[code]
The code above does something like:
[code]

And this is where the problem comes in. The property name is `expiresAt` so `expires_at` is not matched and instead dropped. Only `account` works, as it

[2022-03-22 07:47] rafalglowacz commented on #102
For anyone who runs into it like I just did:

It can happen when your array is keyed by strings instead of integers. In that case
`\Spatie\DataTransferObject\ValueCaster::shouldBeCastToCollection`
will return false and you'll get the invalid type error.

The solution is to replace string keys with integers and put the string values in the nested DTOs instead.

You could also manually build the arr

[2022-04-05 11:27] keizah7 opened #273 "Set data after initialization"
Can we use package to set values after object initialization? Will casters and maps work?

[code]

[2022-04-06 03:56] flexsourceit-rannie opened #274 "Using MapFrom() with Multi-dimensional Array"
Hello,

I've noticed that `MapFrom()` method doesn't work with multi-dimensional array.

[code]

[code]

Here is the screenshot of the result of the DTO via dump.

<img width="276" alt="Screen Shot 2022-04-06 at 11 56 58 AM" src="https://user-images.githubusercontent.com/97858552/161892844-198957f1-3463-45dc-97be-dfa407dbf76d.png">

[2022-04-06 04:10] flexsourceit-rannie commented on #274
I found out the answer, you must used `requestOrderItems.0.orderItems.0.id`

[2022-04-06 04:10] #274 closed

[2022-04-06 07:31] brendt commented on #273
No that doesn't work, by design. DTOs should be immutable.

[2022-04-06 08:15] #273 closed

[2022-04-11 10:00] #262 closed

[2022-05-09 19:19] luizmagao opened #275 "Not working laravel 9"
How working in laravel 9?

[2022-05-16 11:10] LaravelFreelancerNL commented on #275
No problems here.

[2022-05-17 18:13] andrzejkupczyk opened #276 "Allow mapping from multiple properties"
Hey 👋🏻 Just wondering if it would be a good idea to allow using the `#[MapFrom]` attribute for multiple source properties?

[code]

Alternatively maybe it could be achieved with a new `#[MapFromMany]` attribute?

Are you willing to consider introducing such a feature?

[2022-05-24 01:07] lioneaglesolutions commented on #275
@luizmagao you might want to give some more information about why it isn't working... otherwise what do you expect Spatie to do?

[2022-05-24 01:28] luizmagao commented on #275
now i'm working but i wanted to expand my acquaintances

[2022-05-24 01:28] luizmagao commented on #275
Eu já consegui. Deu certinho. Obrigado amigo.

[2022-05-30 19:05] stevebauman commented on #249
Dang, auto-closed this too eh

[2022-06-02 15:05] #275 closed

[2022-06-02 15:07] aidan-casey commented on #272
@regnerisch - Good catch! Feel free to submit a PR for this issue.

[2022-06-02 15:10] aidan-casey commented on #276
@andrzejkupczyk - To me, this would come across more as casting than mapping. This begs the question of whether a caster should have access to properties outside of the one it is attributed to.

I don't think this is something we will support in the current version, though perhaps in v4. In the meantime, you should be able to pass an array and use a caster to assign the properties.

[2022-06-02 15:10] #276 closed

[2022-06-02 16:11] andrzejkupczyk commented on #276
@aidan-casey, thanks. You're partially right and actually using the caster was my first choice, but as you mentioned it only has access to one property. I would have to introduce an additional layer responsible for transforming the input data for the DTO to be able to use the caster... which would basically make the use of the DTO not very useful 🤷🏻

[2022-06-07 09:58] plorentz86 opened #281 "MapFrom('firstParameter', 'FirstParameter', 'first_parameter')"
Is there a way to make MapFrom take several parameters in its validation and mapping? It is not implementable so there is no possibility to write your own class as with`Caster`.

[2022-06-07 11:11] plorentz86 commented on #281
yes, would you consider adding such that this is possible?

[code]

[2022-06-07 11:25] plorentz86 commented on #281
To "problem" arise due to the following

[code]

[2022-06-07 12:28] #281 closed

[2022-06-07 14:16] daniser opened #282 "Assigning NULL to non-nullable property cannot force default property value anymore"
Release 3.8.1 [introduced](https://github.com/spatie/data-transfer-object/pull/251/files#diff-7846f3d41f0f6e381ca517a7a8bb72345fd967c4e067e1841c960b5cec1cee95) new undocumented side effect. Previously, you could create such DTO:
[code]
... and initialize it like this:
[code]
which gave you default `$hello` value of `world`.
Now, same code throws an exception:
`Cannot assign null to property TestDT

[2022-06-07 14:30] aidan-casey commented on #282
I'm unconvinced that this is something we should be concerned about. This was never a supported, promoted, or documented "feature" and I would consider it working the way you describe to be a bug that is patched by v3.8.1. If something is passed, it is intended to be assigned.

What is the use case for supporting it apart from the argument of backward compatibility?

[2022-06-07 15:04] daniser commented on #282
None. I agree that DTOs should remain as logicless as possible and end user should validate, filter and prepare their data by theirselves beforehand.
So, I'll close this issue for now (at least until more people affected by this new behaviour).

[2022-06-07 15:45] aidan-casey commented on #282
Thanks, @daniser!

[2022-06-07 15:50] amanank opened #283 "`php artisan make:dto MyDTO` does not work"
Should be able to create DTO via command line

[code]

[2022-06-07 16:15] aidan-casey commented on #283
@amanank - This package is framework agnostic and does not register any Laravel commands. We will not be supporting this.

[2022-06-07 16:15] #283 closed

[2022-06-07 22:21] princejohnsantillan opened #284 "Suggestion"
Add uncast method to Caster.

Example DateTimeZoneCaster:

[code]

So when I do a toArray it does not give me a serialized DateTimeZone object but a timezone string. This also properly defines the inverse of my cast.

[2022-06-08 12:58] aidan-casey commented on #284
Hey @princejohnsantillan, thanks for the suggestion! Generally speaking, I do tend to agree that we should work toward this being supported because it has to do with serialization and deserialization. That said, I think that implementing "uncasting" into the current version of the package would be a little messy and hard to maintain. We will look to bring this in the next version of this package.

[2022-06-08 12:58] #284 closed

[2022-06-15 14:32] AidasK commented on #282
It would have saved me a lot of time if this would have been documented. We are reallying a lot on this while reading a config from env variables and populating them to DTO.

[2022-06-16 10:44] brendt commented on #282
This definitely wasn't a documented feature, as a matter of fact: it  was a bug if it ever worked this way. Whenever a key is present in the input array, that value should be used — regardless of it being `null` or not.

[2022-06-24 16:08] ludo237 opened #285 "[HELP] How to cast an array of enums?"
Hello everyone.
I see that the current version has `Enumcaster` and `ArrayCaster` which are great but how can I combine them to cast an array of enumerators?

Let's say i've this scenario

[code]

The field `permissions` cannot use a cast like `#[CastWith(ArrayCaster::class, Permission::class)]` because then the DTO will require each single item inside `permissions` to be an instance of Permission

[2022-06-24 17:30] aidan-casey commented on #285
@ludo237 - Use a [custom caster](https://github.com/spatie/data-transfer-object#custom-casters) or a data transfer object factory.

[2022-06-24 17:30] #285 closed

[2022-06-26 14:05] JamesHemery opened #286 "Optional properties"
Hi,

First of all thank you for all your open source work.

I'm working on a feature to add support for optional properties, like on Laravel Data. Are you ready to add this to this package (v3) ? If yes, I will open a PR :)

Looking forward to your reply,

[2022-06-30 12:07] aidan-casey commented on #286
Hey @JamesHemery, thanks for asking! I don't think this really fits with the vision we have for this package at this time. If you need that functionality, Laravel Data may be a better option for you. 🙂

[2022-06-30 12:07] #286 closed

[2022-07-11 02:16] Daespinosag opened #288 "It is possible to transform enums in toArray()"
I am defining enum properties from DTOs in PHP 8.1. However, I am running into the problem that when I perform the transformation from DTO to array the enum fields are not transformed to text.

[code]

I get this:

[code]
but, I expect it should return this:

[code]
For this, a `$enum->value` has to be placed in the `toArray()` method only when the property is ENUM and that enum is a key value.

I

[2022-07-11 12:24] aidan-casey commented on #288
@Daespinosag - The `toArray()` method is _not_ a serialization mechanism. You should look at something like `symfony/serializer` for that.

[2022-07-11 12:25] #288 closed

[2022-08-03 05:04] sirbaconjr opened #292 "Makes sense to add a class-level mapping attribute?"
I've been working on a PR adding a attribute that would discover the mapped name based on a naming strategy.

Example, using a DTO like this

[code]

Would be possible to write things like this

[code]

The mapping strategies would be `snake_case`, `camelCase`, `UPPER_CASE`, `SturdyCase`.

The mapping directions would be From, To and Both.

With this, would be possible to create DTOs with a case,

[2022-08-18 15:02] codetestmg opened #294 "Concat two properties"
I am using laravel-data(https://github.com/spatie/laravel-data) but I don't have the option to raise the issue there.so I thought to use this library.Both libraries are good but I have a use case where I need to contact property value with other property value .for example

[code]
Here i want lastName value to be `firstName."-".lastName;`

is this possible using this library or laravel-data

[2022-08-18 15:25] Daespinosag opened #295 "Implicit build of variables"
## Hello, people,

**I'm building functionality and I need to be able to create by default a variable inside the DTO when the client doesn't send it. However, I have to send the key for the caster to work, is there any way to make the DTO constructor create the variable by default when it is not in the input array?**

[code]

[code]
_Note: In addition, I would like this variable to be mandatory be

[2022-08-18 15:25] crux opened #296 "values used more than once and mapped to multiple attributes"
'class D' won't work. I do not know if this on purpose or a consequence of some design decison. D hardly makes sense, but similar class E also won't work, where I would like to 'lift' an attribute from a sub structure to also exist on a higher level. Is there anything I can do about to make it work? Or is it a wrong idea in itself.

[code]

[2022-08-18 15:39] aidan-casey commented on #294
@codetestmg - Feel free to bring this up in the [discussions](https://github.com/spatie/laravel-data/discussions) of `spatie/laravel-data`. This repository is for `spatie/data-transfer-object`.

[2022-08-18 15:39] #294 closed

[2022-08-23 17:28] YamenSarah opened #297 "Adding support for strict type checks"
We are utilizing dtos to enforce our API contracts.
So we have a preference to not allow for type coercion. Unfortunately since this library is using reflection [setValue](https://www.php.net/manual/en/reflectionproperty.setvalue.php), our [strict_types](https://www.php.net/manual/en/language.types.declarations.php#:~:text=of%20PHP%208.0.0.-,Strict%20typing%20%C2%B6,-By%20default%2C%20PHP) declara

[2022-08-23 17:29] YamenSarah commented on #297
https://github.com/spatie/data-transfer-object/pull/293

[2022-08-27 09:43] Kehet opened #298 "Cannot use positional argument after named argument during unpacking"
I found following edge case:

[code]

[code]

[code]

Example is how `json_decode` decodes json by default. Not exactly ideal but it is what it is..

I'm aware this could propably be handled with custom caster but my question is if this is something that should be handled in package?

[2022-09-13 12:13] aidan-casey commented on #298
@Kehet - I'm not entirely sure I'm understanding this issue correctly. Would you be able to create a PR with a failing test so we can begin to dig into this?

[2022-09-15 23:16] Kehet commented on #298
@aidan-casey I refined this problem bit and wrote two tests to catch it https://github.com/spatie/data-transfer-object/pull/302

[2022-09-16 12:26] aidan-casey commented on #298
Thank you, @Kehet. I will look into this.

[2022-09-16 13:20] Kehet commented on #298
@aidan-casey This works in my codebase, thank you

[2022-09-16 13:34] #298 closed

[2022-09-16 13:37] aidan-casey commented on #298
Fixed in `3.9.1`.

[2022-09-19 20:52] defunctl opened #306 "Bug in v2: `DocblockFieldValidator` should not consider `@var mixed[]` nullable and should be a mixed array"
A class property with a Dockblock of `@var mixed[]` should not allow nullable values, and should be detected as an array:

[code]

The logic for [DocblockFieldValidator::resolveIsMixed](https://github.com/spatie/data-transfer-object/blob/a7a328f3dec64fe0270a72e1ee618923ab225f7c/src/DocblockFieldValidator.php#L66) is just checking if `mixed` is found in the string, making it detect `mixed[]` as wel

[2022-09-27 21:08] torian257x opened #307 "Is this library actually framework agnostic"
you are the laravel guys, everyone knows that

will this library work with say, symfony?

[2022-09-28 09:17] mfn commented on #307
Yes, there's nothing Laravel specific in this Library. You can use it with any PHP code.

[2022-09-28 14:13] #307 closed

[2022-09-29 06:10] samlev opened #308 "Unexpected Behaviour: `toArray()` produces an array that cannot be used to recreate the DTO when using `MapTo`/`MapFrom`"
This is related to #272, but is a little bit beyond the scope of the fix in PR #280.

If you have a DTO that uses `MapFrom` or `MapTo`, then the array produced by `toArray()` cannot be used to re-create the original DTO. A Minimal example:

[code]

A work-around is adding `MapTo` with the same pattern for any `MapFrom`:

[code]

I don't like this solution, though because then `toArray` doesn't rep

[2022-10-03 10:01] #272 closed

[2022-10-05 10:10] andrej-schaefer opened #309 "Failed to call Class-specific casters in arrays"
Custom Class-specific casters are not called when dto is in array
In the example below the custom caster is called for the bar prop, but ignored for the $bars array

Expected behavior:
The caster is called in each case

Will try to workaround this issue somehow for now, if someone have a good workaround, youre welcome :)
Or correct me if im doing something wrong
[code]

[2022-10-12 15:27] albertcito opened #310 "How to set variable `Undefined` instead of `Null`"
I have this DTO in order to save data in DB:

[code]
If I create this class:
[code]
If I convert that DTO in array, it will return:
[code]
But it should return:

[code]

**Is there a way to don't convert possible undefined variables in NULL?**

The problem is if I have an endpoint `/user` to update the user. So user want to update his name only it will not work, because the code will `null` the ni

[2022-10-15 00:16] WordsofDefiance opened #311 "Arrays Casting to another DTO not working in Laravel 9/PHP 8.1"
I just upgraded to Laravel 9 and php 8.1. Before the upgrade, this syntax was working:

[code]

`$dtoA` would have a property, `propertyB`, of type `DtoB`. This is the behavior described in the docs.

After the upgrade, the array being passed to the constructor of `DtoB` is enclosed in another array -- so it looks like `[['a' => 'a', 'b' => 'b' => 'c' => 'c']]` instead of `['a' => 'a', 'b' => 'b'

[2022-10-21 18:02] ronfuller opened #312 "Release 3.9.1 breaks embedded Data Transfer Objects"
Embeded Data Transfer Objects are built with a single argument containing an associative array rather than expanding the attributes as separate arguments to the embedded Data Transfer Objects

Prior to 3.9.1, the code below would produce the following for the arguments to ContactDto when executing a request to create a new ContactUserDto (code below)

array:4 [
"address" => """
    7642 Botsford W

[2022-10-25 08:14] simPod opened #313 "EnumCaster does not work with DefaultCast attribute"
[code]

but I'm getting

when trying to cast a value.

But I follow the docs https://github.com/spatie/data-transfer-object#default-casters so I believe it's broken 🤔

[2022-10-26 18:25] FelipeVa commented on #311
A breaking change for this was pushed on September 16. We're not sure how it was pushed to SCM since we've updated the package before and only recently experienced this issue.

We were able to fix this by downgrading the package version to `3.5`:

`"spatie/data-transfer-object": "3.5"`

[2022-11-01 08:43] freekmurze commented on #313
We are stopping maintenance on this package.

Consider migrating to [spatie/laravel-data](https://spatie.be/docs/laravel-data) or [cuyz/valinor](https://github.com/cuyz/valinor)

[2022-11-01 08:43] #313 closed

[2022-11-01 08:43] freekmurze commented on #312
We are stopping maintenance on this package.

Consider migrating to [spatie/laravel-data](https://spatie.be/docs/laravel-data) or [cuyz/valinor](https://github.com/cuyz/valinor)

[2022-11-01 08:43] #312 closed

[2022-11-01 08:43] freekmurze commented on #311
We are stopping maintenance on this package.

Consider migrating to [spatie/laravel-data](https://spatie.be/docs/laravel-data) or [cuyz/valinor](https://github.com/cuyz/valinor)

[2022-11-01 08:43] #311 closed

[2022-11-01 08:43] freekmurze commented on #310
We are stopping maintenance on this package.

Consider migrating to [spatie/laravel-data](https://spatie.be/docs/laravel-data) or [cuyz/valinor](https://github.com/cuyz/valinor)

[2022-11-01 08:43] #310 closed

[2022-11-01 08:43] freekmurze commented on #309
We are stopping maintenance on this package.

Consider migrating to [spatie/laravel-data](https://spatie.be/docs/laravel-data) or [cuyz/valinor](https://github.com/cuyz/valinor)

[2022-11-01 08:43] #309 closed

[2022-11-01 08:43] freekmurze commented on #308
We are stopping maintenance on this package.

Consider migrating to [spatie/laravel-data](https://spatie.be/docs/laravel-data) or [cuyz/valinor](https://github.com/cuyz/valinor)

[2022-11-01 08:43] #308 closed

[2022-11-01 08:43] freekmurze commented on #306
We are stopping maintenance on this package.

Consider migrating to [spatie/laravel-data](https://spatie.be/docs/laravel-data) or [cuyz/valinor](https://github.com/cuyz/valinor)

[2022-11-01 08:43] #306 closed

[2022-11-01 08:44] freekmurze commented on #297
We are stopping maintenance on this package.

Consider migrating to [spatie/laravel-data](https://spatie.be/docs/laravel-data) or [cuyz/valinor](https://github.com/cuyz/valinor)

[2022-11-01 08:44] #297 closed

[2022-11-01 08:44] freekmurze commented on #296
We are stopping maintenance on this package.

Consider migrating to [spatie/laravel-data](https://spatie.be/docs/laravel-data) or [cuyz/valinor](https://github.com/cuyz/valinor)

[2022-11-01 08:44] #296 closed

[2022-11-01 08:44] #295 closed